{% extends "base.html" %}



{% block content %}
    <div style="width: 80%; margin-left: 30px; text-align: left; margin-top: 30px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4 style="margin-bottom: 20px;">{% block title %}{% endblock %} </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% block content_passreset %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}