{% extends "base.html" %}

{% block content %}
    <div style="width: 80%; margin-left: 30px; text-align: left; margin-top: 30px;">
        {% if user.is_authenticated %}
            <h4 style="margin-bottom: 20px;"> Your are logged in as: <b>{{ user.username }}</b></h4>
            {% if user.is_staff %}<a href="{% url 'admin:index' %}"><i class="fa fa-gear fa-fw"></i>Admin</a>{% endif %}
            <a href="{% url "password_reset_recover" %}"><i class="fa  fa-refresh fa-fw"></i>Change Password</a>
            <form role="form" method="POST" action="{% url 'django.contrib.auth.views.logout' %}">
                {% csrf_token %}
                <button style="margin-top: 10px" type="submit" class="btn btn-primary">Logout</button>
                {% if not skip_navbar %}
                    <input type="hidden" name="next" value="{% url 'auth_account' %}"/>
                {% else %}
                    <input type="hidden" name="next" value="{% url 'auth_account_m' %}"/>
                {% endif %}
            </form>
        {% else %}
            {% if not skip_navbar %}
                <form class="form-horizontal" role="form" method="POST" action="{% url 'auth_account' %}">
            {% else %}
                <form class="form-horizontal" role="form" method="POST" action="{% url 'auth_account_m' %}">
            {% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4 style="margin-bottom: 20px;"> Login to Building Web App: </h4>
            </div>
        </div>
        {% csrf_token %}
        <div class="row" style="">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label style="text-align:left" class="col-xs-5 col-sm-3 col-lg-3 col-md-3 control-label" for="id_username">Username:</label>
                    <div class="col-xs-5 col-sm-3 col-lg-3 col-md-3">
                        <input id="id_username" class="form-control" maxlength="254" name="username" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label style="text-align:left" class="col-xs-5 col-sm-3 col-lg-3 col-md-3 control-label" for="id_password">Password:</label>
                    <div class="col-xs-5 col-sm-3 col-lg-3 col-md-3">
                        <input id="id_password" class="form-control col-lg-3" name="password" type="password" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div  style="float: left;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <div class="row" style="padding-left: 20px;">
            {% if form.errors %}
                <p style="margin-top: 20px; color: red">Your username and password didn't match. Please try again.</p>
            {% endif %}
            {% if not skip_navbar %}
                <input type="hidden" name="next" value="{% url 'auth_account' %}"/>
            {% else %}
                <input type="hidden" name="next" value="{% url 'auth_account_m' %}"/>
            {% endif %}
        </div>
        </form>
            {% block script_base %}
                {% if form.errors %}
                    <script>$('#id_password').parent().addClass('has-error')</script>
                    <script>$('#id_username').parent().addClass('has-error')</script>
                {% endif %}
            {% endblock %}
        {% endif %}

    </div>

{% endblock %}