{% extends "base.html" %}
{% block content %}
    <div style="width: 70%; margin-left: 30px; text-align: left; margin-top: 30px; margin-bottom: 50px">
        <h3> Click on the logo to download the setup file </h3>
        <a href="{{ STATIC_URL }}app/openbmsclient.apk">
            <img style="width: 30%; float: left; margin-top: 30px;"
                 src="{{ STATIC_URL }}img/android_logo.png" alt="Android logo">
        </a>
    </div>
{% endblock %}