<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta content="" name="author">
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png">

    <!-- Title and version -->
    <title>{{ view_title }}</title>
    {% if static_serve_all_js_css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-3.3.6.min.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome-4.5.0.min.css" type="text/css">
        {% if not skip_main_js_files %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-3.3.6.min.js"></script>
        {% endif %}
    {% else %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css">
        {% if not skip_main_js_files %}
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {% endif %}
    {% endif %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/mystyle.css" type="text/css">



    <!-- Add view specific header -->
    {% block additional_header %}{% endblock %}
</head>

{% if not skip_navbar %}
<body style="padding-top: 50px;">
{% else %}
<body>
{% endif %}
{% load customtags %}
{% gapless %}
    <div class="main-wrapper">
        {% if not skip_navbar %}
        {% include "navbar.html" %}
        {% endif %}
        <div class="content">
            <!-- The main content -->
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- The main script -->
    {% block script_base %}{% endblock %}
{% endgapless %}
</body>

</html>
