{% extends "base.html" %}
{% block content %}
    <div style="width: 80%; margin-left: 30px; text-align: left; margin-top: 30px;">
        <div style="margin-bottom: 50px">
            <h3> Project developed and maintained for elab by: </h3>
            <h4>
            <i>George Lilis: georgios.lilis at epfl.ch</i>
            </h4>
        </div>

        <h4> Past contributors: </h4>
        <p style="margin-left: 2px">
            <i> Adrien Hoffet 2015</i>
        <br><i> Pierre Guillain 2014-2015</i>
        <br><i> Gilles Vetsch 2014-2015</i>
        <br><i> Thomas Guibentif 2014</i>
        </p>

    </div>

{% endblock %}