{% extends "base.html" %}

{% block additional_header %}
{% comment %}
any additional headers you need go here
{% endcomment %}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-lg-7 col-md-7">
        <div class="row">
            <h3>Your dashboard html code goes here</h3>
        </div>
    </div>
{% endblock %}

{% block script_base %}
    <script>

    </script>

{% endblock %}