{% extends "base.html" %}
{% block content %}
    <div id="home_presentation" class="jumbotron text-center" style="background-color:white;">
    {% if not centering_zoom %}
        <h1>Welcome to <br> openBMS <i>{{ VERSION_APP }}</i></h1>
        <div style="width: 40%; margin: auto;"> {# we need margin auto for middle allignment #}
            <img style="width: 100%; display: block; margin: 30px auto;"
                 src="{{ STATIC_URL }}img/app_logo.png" alt="App logo">
        </div>
    {% else %}
        <h1>Welcome to <br> openBMS <i>{{ VERSION_APP }}</i></h1>
        <div style="align-self:center; margin: auto;"> {# we need margin auto for middle allignment #}
            <img style="width: 70%; display: block; margin: 30px auto;"
                 src="{{ STATIC_URL }}img/app_logo_m.png" alt="App logo">
        </div>
    {% endif %}
    </div>

{% endblock %}