{% extends "base.html" %}

{% block additional_header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/circular-slider.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/flipclock.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/joulesense.css">

    <script src="{{ STATIC_URL }}js/circular-slider.min.js"></script>
    <script src="{{ STATIC_URL }}js/flipclock.min.js"></script>
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-lg-7 col-md-7">
        <div class="row">
            <div id="slider"></div>
            <h3>Time to reach the temperature</h3>
            <div id="clock"></div>
        </div>
    </div>
{% endblock %}

{% block script_base %}
    <script>
        var current_temp=0;
        var set_temp=0;

        jQuery(function ($) {
                    get_single_sensor_ref_last_val() }
        );

        function get_single_sensor_ref_last_val() {
            $.ajax({
                type: 'GET',
                url: '{% url 'BmsAPI:lastRoomQuantity' 'TEM' '1' %}',
                dataType: "json",
                success: function (data) {
                    current_temp = data['TEM'][1];
                    set_temp = parseInt(current_temp); //slider takes only int
                    init_clock_slider()
                },
                timeout: 1000
            });
        }

        function init_clock_slider(){
            var clock = $('#clock').FlipClock({
                countdown: true,
                clockFace: 'MinuteCounter',
                autoStart: false
            });

            var default_font_size;
            var circularSlider = $('#slider').CircularSlider({
                min : 10,
                max: 32,
                value : set_temp,
                shape : 'Half Circle',
                animateDuration: 1000,
                labelSuffix: "&deg;",
                handleDist: 95,
                radius: 100,
                innerCircleRatio: '0.65',
                slide : function(ui, value) {
                    var center_cycle = $('.jcs-value');
                    if(value<current_temp){
                        center_cycle.css({'background-color': '#c4def0', 'border-color': '#FFFFFF', 'color': '#FFFFFF'});
                    }
                    else if(value<25){
                        center_cycle.css({'background-color': '#5FCD3A', 'border-color': '#EFFAEB', 'color': '#FFFFFF'});
                    }
                    else if(value<30){
                        center_cycle.css({'background-color': '#CD5134', 'border-color': '#CDB094', 'color': '#FFFFFF'});
                    }
                    else{
                        center_cycle.css({'background-color': '#B00500', 'border-color': '#B0A0A9', 'color': '#FFFFFF'});
                    }

                    set_temp = center_cycle.html(); //Store it
                    center_cycle.css({'font-size': default_font_size});
                },
                onSlideEnd : function(ui, value) {
                    start_timer();

                }
            });

            function start_timer(){
                var value = parseInt(set_temp.substring(0, set_temp.length-1));
                if (value>current_temp){
                    clock.stop();
                    clock.setTime(value*10*0.8*(value-current_temp));
                    clock.start();
                }
                else{
                    clock.stop();
                    clock.setTime(0);
                }
            }

            {#        $(document).ready(function(){#}
            {#            $('#slider').click(function(){#}
            {#                start_timer();#}
            {#            });#}
            {#        });#}

            var toggle_state = true; //To know the current state of display(set temp vs current)
            default_font_size = $('.jcs-value').css('font-size');
            function flash_current_t(){
                if(toggle_state){
                    $('.jcs-value').html('Current '+current_temp+"&deg;");
                    $('.jcs-value').css({'font-size': '110%'});
                    toggle_state = false
                }
                else{
                    $('.jcs-value').html(set_temp);
                    $('.jcs-value').css({'font-size': default_font_size});
                    toggle_state = true
                }

            }

            setInterval(function () {
                flash_current_t()}, 3000);
        }

    </script>

{% endblock %}