{% extends "base.html" %}

{% block additional_header %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block content %}
    <article style="margin-left: 20px; margin-right: 20px">
        <p><span class="label label-info" id="status">Finding your location...</span>
            <span class="label label-default" id="coordinates"></span>
        </p>
        <p>
            <span class="label label-default" id="distance"></span>
        </p>
    </article>
    <script>
        function success(position) {
            var s = document.querySelector('#status');
            var cor = document.querySelector('#coordinates');

            var origin = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            var destination = new google.maps.LatLng({{center_latitude}},{{center_longitude}});

            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix(
                    {
                        origins: [origin],
                        destinations: [destination],
                        travelMode: google.maps.TravelMode.WALKING,
                        unitSystem: google.maps.UnitSystem.METRIC,
                    }, callback);



            if (s.className == 'success') {
                // not sure why we're hitting this twice in FF, I think it's to do with a cached result coming back
                return;
            }

            s.innerHTML = "I found you with accuracy of "+Math.round(position.coords.accuracy * 100) / 100+" meters";
            s.className = "label label-success";
            cor.innerHTML = "Latitude: "+position.coords.latitude+" Longitude: "+position.coords.longitude;

            var mapcanvas = document.createElement('div');
            mapcanvas.id = 'mapcanvas';
            mapcanvas.style.height = '300px';
            //mapcanvas.style.width = '560px';

            document.querySelector('article').appendChild(mapcanvas);

            var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

            var myOptions = {
                zoom: 15,
                center: latlng,
                mapTypeControl: false,
                navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);

            var marker = new google.maps.Marker({
                position: destination,
                map: map,
                title: 'Location of unit of interest',
                icon: '/static/img/google_markers/brown_markerA.png'
            });

            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title:"You are here! (at least within a "+Math.round(position.coords.accuracy * 100) / 100+" meter radius)",
                icon: '/static/img/google_markers/red_markerA.png'
            });
        }

        function error(msg) {
            var s = document.querySelector('#status');
            s.innerHTML = typeof msg == 'string' ? msg : "failed";
            s.className = 'fail';
        }

        function callback(response, status) {
            var s = document.querySelector('#distance');
            if (status == google.maps.DistanceMatrixStatus.OK) {

                var results = response.rows[0].elements;
                var element = results[0];
                var distance = element.distance.text;
                var duration = element.duration.text;
                s.innerHTML = "Distance to central unit "+distance+" and expected walking time "+duration
            }
            else {
                alert('Geocode was not successful for the following reason: '
                        + status);
            }


        }

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);
        } else {
            error('not supported');
        }

    </script>

{% endblock %}