<div class="navbar navbar-inverse navbar-static-top navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">openBMS <span class="navbar-header-ver">{{ VERSION_APP }}</span></a>
        </div>
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-leaf fa-fw fa-lg"></i>WebApps<i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu dropdown-apps">
                        <li><a href="{% url 'BmsApp:index' %}">
                            <i class="fa fa-area-chart fa-fw"></i>Main Dashboard</a></li>
                        <li><a href="{% url 'easydashboard' %}">
                            <i class="fa fa-pie-chart fa-fw"></i>Easy Dashboard</a></li>
                        <li><a href="{% url 'vmiddleware' %}">
                            <i class="fa fa-heartbeat fa-fw"></i>Virtualization</a></li>
                        <li><a href="http://{{ REALTIMESERVER }}/debug">
                            <i class="fa fa-cogs fa-fw"></i>RealTime Server</a></li>
                        <li><a href="{% url 'joulesense' %}">
                            <i class="fa fa-clock-o fa-fw"></i>JouleSense</a></li>
                        <li><a href="http://thinkee.epfl.ch">
                            <i class="fa fa-comments fa-fw"></i>ThinkEE</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-mobile fa-fw fa-lg"></i>Mobile Apps<i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu dropdown-apps">
                        <li><a href="{% url 'BmsApp:index_m' %}">
                            <i class="fa fa-area-chart fa-fw"></i>Mobile Dashboard</a></li>
                        <li><a href="{% url 'android' %}">
                            <i class="fa fa-android fa-fw"></i>Android App</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-code fa-fw"></i>API<i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu dropdown-apps">
                        <li><a href="{% url 'BmsAPI:docsAPI' %}">
                            <i class="fa fa-book fa-fw"></i>API documentatiuon</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>Help<i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li><a href="{% url 'contact' %}">
                            <i class="fa fa-ambulance fa-fw"></i>Contact</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>User<i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu dropdown-user">
                        {% if user.is_authenticated %}
                            {% if user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">
                                    <i class="fa fa-gear fa-fw"></i>Admin</a></li>
                                <li><a href="{% url 'django_log' %}">
                                    <i class="fa fa-file-text-o fa-fw"></i>Log File</a></li>
                            {% endif %}
                            <li><a href="{% url 'auth_account' %}">
                                <i class="fa fa-user fa-fw"></i>Profile of {{ user.username }}</a></li>
                            <li><a href="{% url 'current_location' %}">
                                <i class="fa fa-compass fa-fw"></i>Location</a></li>
                            <li><a href="{% url 'auth_logout' %}?next={% url 'auth_account' %}">
                                <i class="fa fa-sign-out fa-fw"></i>Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'auth_account' %}">
                                <i class="fa fa-sign-in fa-fw"></i>Login</a></li>
                            <li><a href="{% url "password_reset_recover" %}">
                                <i class="fa  fa-refresh fa-fw"></i>Reset Password</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>