{% extends "base.html" %}

{% block additional_header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/vmiddleware.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/sockjs-1.0.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts-4.1.9.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts-more-4.1.9.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/moment-2.10.6.min.js"></script>
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="row">
            <h3>Virtual Middleware Health</h3>
        </div>
        <div class="row">
            <div id="vmid_ping_graph"></div>
        </div>
        <div class="row" id="vmid_event_delay">
            <div class="col-xs-6 col-lg-6 col-md-6">
                Event Delay
            </div>
            <div class="col-xs-6 col-lg-6 col-md-6">
                <div id="vmid_event_delay_value"></div>
            </div>
        </div>
        <div class="row" id="vmid_command_delay">
            <div class="col-xs-6 col-lg-6 col-md-6">
                Command Delay
            </div>
            <div class="col-xs-6 col-lg-6 col-md-6">
                <div id="vmid_command_delay_value"></div>
            </div>
        </div>
        <div class="row" id="vmid_roundtrip_delay">
            <div class="col-xs-6 col-lg-6 col-md-6">
                RoundTrip Delay
            </div>
            <div class="col-xs-6 col-lg-6 col-md-6">
                <div id="vmid_roundtrip_delay_value"></div>
            </div>
        </div>
        <div class="row" id="vmid_health_report">
            <div class="col-xs-4 col-lg-4 col-md-4">
                Health Report
            </div>
            <div class="col-xs-8 col-lg-8 col-md-8">
                <div id="vmid_health_report_value"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_base %}
    <script>
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
        var yAxisProperties = {
            type: 'linear',
            title: {text: 'mseconds'}
        };
        var xAxisProperties = {
            type: 'datetime',
            title: {
                text: 'Time'
            },
            tickPixelInterval: 100,
            labels: {
                format: '{value:%Hh %Mm %Ss}',
                rotation: 45,
                align: 'left'
            }
        };
        var chart_options = {
            marker: {
                radius: 2
            },
            lineWidth: 2,
            step: 'center'
        };
        $('#vmid_ping_graph').highcharts({
            chart: {
                type: 'line',
                animation: false,
                zoomType: 'x',
                resetZoomButton: {
                    position: {
                        align: 'right',
                        x: 0,
                        y: -30
                    }
                }
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'vMiddleware Latencies'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                        'Click and drag in the plot area to zoom in' :
                        'Pinch the chart to zoom in'
            },
            xAxis: xAxisProperties,
            yAxis: yAxisProperties,
            legend: {
                enabled: true
            },
            plotOptions: {
                line: chart_options
            },
            series: [
                {
                    name: 'Event delay',
                    data: [],
                    color: '#7fc950'
                },
                {
                    name: 'Command delay',
                    data: [],
                    color: '#ff8719'
                },
                {
                    name: 'Roundtrip delay',
                    data: [],
                    color: '#80c2b8'
                }
            ]
        });
        {% include "rtserver_frontend_client.tjs" %}
    </script>

{% endblock %}