.jcs-value{
    background-color: #5FCD3A;
    border-color: #EFFAEB;
    color: #FFFFFF;
}
.jcs{
    border-color: #3a5fcd;
    color: #FFFFFF;

}
.jcs-panel{
    margin-bottom: 100px;
    background-color: #3a5fcd;
    border-color: #3a5fcd;
    color: #FFFFFF;
}
.jcs-indicator{
    background-color: #7e7e7e;
    border-color: #494949;
    border-width: 0.2em;
    color: #FFFFFF;
}

.row{
    margin: 10px 0px 0px 10px;
}

.flip-clock-wrapper {
    margin-top: 3em;
}