/** Own css files*/
/** Author: Georgios Lilis, Vetsch Gilles*/

body {
    background: #ffffff;
}

h2 {
    border-bottom: 1px #000;
}
.navbar{
    margin-bottom: 10px;
    border: hidden;
}
.navbar .container-fluid{
    padding-left: 0;
}
.navbar .navbar-header{
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #303030;
    padding-left: 15px;
}
.navbar .navbar-header .navbar-header-ver{
    font-weight: normal;
    font-style: italic;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #95d6ff;
}
.navbar-nav .dropdown-toggle{
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-nav .dropdown-toggle i{
    margin-right: 0.2em;
    margin-left: 0.2em;
}
.navbar-nav .dropdown-menu i{
    margin-right: 0.4em;
}

#home_presentation h1{
    font-weight: bold;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0px;
}


#unit_title {
    background: #c9a976;
    -moz-border-radius: 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    border: 1px solid;
    margin-top: 10px;
    margin-left: -12px;
    margin-right: -12px;
    padding: 0 10px 1px;
}

#weather_title {
    background: #dae9f7;
    -moz-border-radius: 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    border: 1px solid;
    margin-top: 10px;
    margin-left: -12px;
    margin-right: -12px;
    padding: 0 10px 1px;
}

#weather_forecast {
    background: #fdfdfd;
    border: 1px solid;
    -moz-border-radius: 0;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    margin: -2px -12px 20px;
    padding: 10px 10px 1px;
}

#rt_title {
    background: #f5ffce;
    -moz-border-radius: 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    border: 1px solid;
    margin-top: 10px;
    margin-left: -12px;
    margin-right: -12px;
    padding: 0 10px 1px;
}

#rtconsole {
    background: #fdfdfd;
    border: 1px solid;
    -moz-border-radius: 0;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    margin: -2px -12px 20px;
    padding: 10px 10px 1px;
    font-size:10px;
}

#users_title {
    background:  #b4b4b4;
    -moz-border-radius: 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    border: 1px solid;
    margin-top: 10px;
    margin-left: -12px;
    margin-right: -12px;
    padding: 0 10px 1px;
}

#usersinroom {
    background: #fdfdfd;
    border: 1px solid;
    -moz-border-radius: 0;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    margin: -2px -12px 20px;
    padding: 10px 10px 1px;
    font-style: italic;
}

#spec_title {
    background: #88abe6;
    -moz-border-radius: 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    border: 1px solid;
    margin-top: 10px;
    margin-left: -12px;
    margin-right: -12px;
    padding: 0 10px 10px;
}

#spec_title #spec_title_type{
    min-width:30%;
    float:left;
    padding-right: 9px;
}
#spec_title #spec_title_name{
    float:left;
    color:#333333;
    min-width:10%;
}
#spec_title #spec_title_name #entity_name{
    padding-right: 5px;
}
#spec_title #spec_title_name a{
    font-weight:bold;
    color:#333333;
}

#building {
    background: #fcfffa;
    border: 1px solid;
    -moz-border-radius: 0;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    margin: -2px -12px 20px;
    padding: 10px 10px 1px;
}

#specifications, #graphsplaces {
    background: #ffffff;
    opacity: 1;
    border: 1px solid;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    margin: -2px -12px 10px;
    padding: 1px;
}

#graphsplaces {
    border-radius: 10px;
    padding: 0 0 0 0;
    overflow: hidden
}

#specifications.m_view, #graphsplaces.m_view{ /*override the default for mobile view*/
    border: 0;
    border-radius: 0;
}

#graphsplaces h4{
    margin-left:20px;
    font-style: italic;
}

#graphsplaces [id$="_graph"]{
    min-width: 310px;
    height: 400px;
    margin: 0 auto
}

.panel{
    border-radius: 3px;
}

.tri_col_sen .panel-title span, .tri_col_sen .panel-title p, .tri_col_sen .panel-title .progress{
    float:left;
    margin-top: 5px;
    margin-bottom: 5px
}

.tri_col_sen .panel-title p{
    margin-left:3px;
    margin-right:3px;
    width: 50%;
}
.tri_col_sen .panel-title .progress{
    margin-left:3px;
    width: 10%;
    float: left;
}
.tri_col_sen .panel-title .progress-bar{
    width: 0%;
}

.tri_col_sen .panel-title .btn{
    float:right;
    padding: 0;
}


.tri_col_sen .panel-title #error_conso, .tri_col_sen .panel-title [class^="error_sensor_"]{
    margin-left:5px;
    white-space: nowrap;
}

.tri_col_sen .panel-body{
    padding-left: 2px;
    padding-right: 2px;
    width: 100%
}

.panel-body [class^="col-"] .btn{
    width:100%;
}

.tri_col_sen .panel-body .row{
    width:100%;
}

.panel-default .container-fluid{
    padding-left: 0;
    padding-right: 2px;
}
.panel-default .row{
    margin: 5px 0;
}
.tri_col_sen .panel-body .container-fluid .row .col-xs-4{
    padding-right: 0; padding-left: 0;
}
.tri_col_sen .panel-body .container-fluid .row .col-xs-4 ul{
    float:left;
    text-align:left;
}
.tri_col_sen .panel-body .container-fluid .row .col-xs-5{
    padding-right: 0; padding-left: 0;
}
.tri_col_sen .panel-body .container-fluid .row [class^="col-"] [id$="_Value"]{
    float:left;
}
.tri_col_sen .panel-body .container-fluid .row [class^="col-"] [id$="_Unit"]{
    float:left;margin-left:7px;text-align: left;
}
.tri_col_sen .panel-body .container-fluid .row [class^="col-"] [id$="_Time"]{
    float:left;text-align: left; padding-left: 7px; vertical-align:middle; font-size: 70%; font-style: italic
}
.tri_col_sen .panel-body .container-fluid .row .col-xs-3{
    float:right; padding-right: 0; padding-left: 0
}


#energygauge #container-energy-gauge, #co2costgauge #container-co2-gauge, #co2costgauge #container-cost-gauge{
    float:left;  height: 240px; width:100%
}
#energygauge .row .col-xs-4{
    float:right;  height: 100%; padding-top:120px; padding-right: 0; padding-left: 0
}

#no_sensor_room, #no_load_room, #no_set_room{
    margin-left:10px;margin-top:5px;
}

.btn{
    white-space:normal !important;
    max-width:200px;
}

[id^="load_type_"] .container-fluid{
    padding-left: 0;
    padding-right: 4px;
}
[id^="load_type_"] .container-fluid .row{
    margin: 10px 0;
}
[id^="load_type_"] .container-fluid .row [class^="col-"]{
    padding-right: 0; padding-left: 0;
}

[id^="load_type_"] .container-fluid .row [class^="col-"] #load_btn{
    float:left;margin-top:1px;width: 90%;
}

.act-place.col-xs-6 .actuator { /*for room view without space since it is a dual class*/
    width: 100%;
    float:right;
    margin-right:-20px
}

.act-place.col-xs-12 .actuator { /*for load view without space since it is a dual class*/
    padding-left: 0;
    padding-right: 2px;
    float: left;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 20px
}

#ld_uuid h4{
    font-size: 60%;
}

.setting-panel .panel-tile span{
    vertical-align:middle;
    font-size: 70%
}
#name_in_spec {
    float: left;
    padding-left: 80px;
    padding-top: 5px;
}

#build_aff {
    list-style-type: none;
    margin: 5px;
}

#build_aff a,
#build_aff a:focus,
#build_aff a:visited,
#build_aff a:hover,
#build_aff a:active {
    color: #DF3A01;
    text-decoration: none;
}

#comment {
    margin-top: 25px;
}

#room_btn {
    margin-top: 5px;
}

.row ul {
    margin: 0;
    padding-left: 10px;
    list-style: none;
}

.row ul li {
    display: inline;
}

#collapse-button {
    background-color: #DCDCDC;
    border: 1px solid;
    border-radius: 3px;
}

.OnOff {
    min-width: 50%
}

.red_text {
    color: #FF0000;
}

.green {
    background-color: #00FF00;
}

.green:hover {
    background-color: #00FF00;
}

.red {
    background-color: #FF0000;
}

.red:hover {
    background-color: #FF0000;
}

.modal {
    overflow-y: auto;
}

.modal-dialog {
    /*max-width: 400px;*/
    /* place center */
    width: 80%;
    min-width: 300px;
    margin-left:auto;
    margin-right:auto;
}

.sensor_modal .row [class^="col-"]{
    padding-right: 0; padding-left: 0;
}

[id^="start_from_now_"],[id^="end_from_now_"]{
    padding-left: 10px
}

.sensor_modal .modal-body{
    height:350px;
}


.new_load_modal .modal-body {
    height:400px;
}

.modal-scrollbar {
    margin-right: 17px;
}

h5.data {
    font-style: italic;
}


@font-face {
    font-family: 'weather';
    src: url('../fonts/artill_clean_icons-webfont.woff') format('woff'),
    url('../fonts/artill_clean_icons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#weather {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}


.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather i {
    color: #a2dffd;
    font-family: weather;
    font-size: 150px;
    font-weight: normal;
    font-style: normal;
    line-height: 0.7;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.30);
}

#weather h2 {
    font-family: Impact, Charcoal, sans-serif;
    margin: 0 0 8px;
    color: #A2DFFD;
    font-size: 65px;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
}

#weather ul {
    margin: 0;
    padding: 0;
}

#weather li {
    background: #fff;
    background: rgba(255,255,255,0.90);
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
}

#weather .currently {
    margin: 0 20px;
}

.popover{
    width:220px;
    height:100px;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#ld_uuid, #Name_act{
    color:grey;
}
