.row{
    margin: 10px 0px 0px 10px;
}

#vmid_event_delay {
    background: #ececec;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    color: #7fc950;
}
#vmid_command_delay {
    background: #ececec;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    color: #ff8719;
}
#vmid_roundtrip_delay {
    background: #ececec;
    padding: 10px 10px 10px 10px;
    font-size:15px;
    font-weight: bold;
    color: #80c2b8;
}

#vmid_health_report {
    background: #ececec;
    padding: 10px 10px 10px 10px;
    font-size:15px;
    font-weight: bold;
}