{% extends "index_base.html" %}

{% block type %}
    <span style="float:left">Specifications of the unit: </span>
{% endblock %}
{% block name %}
    <span style="float:left;color:#333333;padding-left:5px">{{ unit.name }}</span>
{% endblock %}

{% block specifics %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <ul>
        <h3> Rooms: </h3>
        {% for room in unit.room_ord_set %}
            {% if not general_mobile_view %}
                {#  auto color the Outside...#}
                {% if room.name != 'Outside'%}
                    <a id="room_btn" class="btn btn-default" href="{% url 'BmsApp:detail_room' room.id %}"
                       role="button">{{ room.name }}</a>
                {% else %}
                    <a id="room_btn" class="btn btn-info" href="{% url 'BmsApp:detail_room' room.id %}"
                       role="button">{{ room.name }}</a>
                {% endif %}
            {% else %}
                {#  auto color the Outside...#}
                {% if room.name != 'Outside'%}
                    <a id="room_btn" class="btn btn-default" href="{% url 'BmsApp:detail_room_m' room.id %}"
                       role="button">{{ room.name }}</a>
                {% else %}
                    <a id="room_btn" class="btn btn-info" href="{% url 'BmsApp:detail_room_m' room.id %}"
                       role="button">{{ room.name }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

    </ul>
{% endblock %}

