{% extends "index_base.html" %}
{% load customfilters %}
{% block type %}
    Status of the load:
{% endblock %}

{% block name %}
    <span id="entity_name" data-loadid="{{ load.id }}" data-loadname="{{ load.name }}">{{ load.name }}</span>
    {% if load.room %}
        <span style="padding-right: 5px"> in </span>
        <a href="{% url 'BmsApp:detail_room' room.id %}" role="button"> {{ room }}</a>
    {% endif %}
{% endblock %}




{% block specifics %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="col-xs-12 col-lg-10 col-md-10">
        <h3>Measurements: </h3>

        <div id="inline">
            {% for ref in ref_list %}
                <div class="panel panel-default tri_col_sen">
                    <div class="panel-heading clearfix" id="collapse-button">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#load_sensor_ref_{{ ref }}">
                                <div id='panel_sensor_title'>
                                    <span class="fa fa-flash"></span>
                                    <p>{{ sensors_per_ref|take_first_name:ref }}</p>
                                </div>
                                <a style="float:right;" class="btn btn-small" onclick="load_consumption()" role="button"><span
                                        class="fa fa-refresh"></span></a>
                            </a>
                            <b id=error_conso class="red_text"></b>
                        </h4>
                    </div>
                    <div id="load_sensor_ref_{{ ref }}" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {% for sensor in sensors_per_ref|take_arg:ref %}
                                <div class="container-fluid" id="sensor_id_{{ sensor.id }}">
                                    <div class="row">
                                        <div class="col-xs-4 col-lg-4 col-md-4">
                                            <ul>{{ sensor.quantity }}:</ul>
                                        </div>
                                        <div class="col-xs-5 col-lg-5 col-md-5">
                                            <b id="{{ sensor.measure }}_Value"></b>
                                            <b id="{{ sensor.measure }}_Unit"></b>
                                            <span id="{{ sensor.measure }}_Time"></span>
                                        </div>
                                        <div class="col-xs-3 col-lg-3 col-md-3">
                                            <a class="btn btn-primary btn-xs" data-toggle="modal"
                                               data-target="#myModal_{{ sensor.id }}">
                                                Show graph
                                            </a></div>
                                    </div>
                                </div>
                                <div class="modal fade sensor_modal" data-measure="{{ sensor.measure }}" id="myModal_{{ sensor.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Choose the dates for the graph of <b>{{ sensor.quantity }}</b></h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container col-xs-12">

                                                    <h4>Starting date:</h4>

                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <div class="input-group date MYDATE MYDATE_start"
                                                                     data-date-format="DD/MM/YYYY HH:mm"
                                                                     id="datetimepicker_start_{{ sensor.id }}">
                                                                    <input id="date_start_{{ sensor.id }}" type="text"
                                                                           class="form-control"/>
                                                                <span class="input-group-addon"><span
                                                                        class="fa fa-calendar"></span>
                                                                </span>
                                                                </div>
                                                                <div id="start_from_now_{{ sensor.id }}">-</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="container col-xs-12">

                                                    <h4>Ending date:</h4>

                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <div class="input-group date MYDATE MYDATE_end"
                                                                     data-date-format="DD/MM/YYYY HH:mm"
                                                                     id="datetimepicker_end_{{ sensor.id }}">
                                                                    <input id="date_end_{{ sensor.id }}" type="text"
                                                                           class="form-control"/>
                                                                <span class="input-group-addon"><span
                                                                        class="fa fa-calendar"></span>
                                                                </span>
                                                                </div>
                                                                <div id="end_from_now_{{ sensor.id }}">-</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="container col-xs-12">
                                                    <h4>Resolution (s): </h4>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <input id="Res_{{ sensor.id }}" type="text"
                                                                       value="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary"
                                                        onclick="get_graph_data('{{ sensor.measure }}','{% url 'BmsAPI:timeseriesQuantity' sensor.id %}','{{ sensor.quantity }}','{{ load.name }}','{{ sensor.id }}')">
                                                    Make Graph
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        <div id="powersbar_graph" class="" style="margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="act-place col-xs-12 col-lg-2 col-md-2"><h3>Actuators:</h3>
        {% block actuator %}
            {% for actuator in actuators_list %}
                {% if actuator.action == 'RELAY' %}
                    <ul class="actuator">
                        <input type="checkbox"
                               data-acttype="load_switch" data-actid="{{ actuator.id  }}" data-actname="{{ actuator.name  }}"
                               data-size="customized">
                    </ul>
                {% endif %}
                {% if actuator.action == 'DIMMER' %}
                    <ul class="actuator">
                        <input style="width: 100%" class="sliders"
                               data-acttype="load_slider" data-actid="{{ actuator.id }}" data-actname="{{ actuator.name  }}"
                               data-slider-value="0" data-slider-id='ex2Slider' type="range" data-slider-min="0"
                               data-slider-max="100" data-slider-step="1"/></ul>
                {% endif %}
                {% if actuator.action == "MOD" %}
                    <ul class="actuator">
                        <select data-acttype="load_mode" data-actid="{{ actuator.id }}" data-actname="{{ actuator.name  }}"
                                class="form-control Switch_MODES"></select>
                    </ul>
                {% endif %}
            {% endfor %}

        {% endblock %}
    </div>

    <div class="col-xs-12 col-lg-12 col-md-12" style="word-wrap: break-word;">
        <h3>Description: </h3>
        <h4>
            The load is of type "{{ load.device.type }}" <br>{{ load.comment }}
        </h4>
    </div>


{% endblock %}

{% block graph %}
    {% for sensor in load_sensors %}
        <div id="{{ sensor.id }}_graph" class="hidden"></div>
    {% endfor %}
{% endblock %}

{% block script %}
    <script>
        $(function() {
            {% if actuators_list %}
                setLoadViewSwitches();
                setLoadViewSliders();
                setLoadViewSwitchModes();
            {%  endif %}
            {% if sensors_per_ref %}
                powersbar(0); //init
                load_consumption();
            {%  endif %}
        });
        {% if sensors_per_ref %}
            function load_consumption() {
                $.ajax({
                    type: 'GET',
                    url: '{% url 'BmsAPI:lastLoad' load.id %}',
                    dataType: "json",
                    error: function () {
                        if ($('#error_conso').length) {
                            $('#error_conso').html('An error occurred');
                        }
                    },
                    success: function (data) {
                        if ($('#error_conso').length) {
                            $('#error_conso').html('');
                        }
                        {% for sensor in load_sensors %}
                            $('#{{ sensor.measure }}_Value').html(data['{{ sensor.measure }}'][1]);
                            $('#{{ sensor.measure }}_Unit').html('{{ measure_units_all|take_arg:sensor.measure }}');
                            $('#{{ sensor.measure }}_Time').html('@ ' + moment(data['{{ sensor.measure }}'][0] * 1000).format("Do MMM,HH:mm"));
                        {% endfor %}
                        powersbar(data);
                    },
                    timeout: {{ timeout_lastvalue }}
                    }
                )
            }

        {%  endif %}
        {% if actuators_list %}
            function setLoadViewSwitches() {
                var switches_elems = $("[data-acttype='load_switch']");

                for(var i=0; i<switches_elems.length; i++){
                    var s_switch = $(switches_elems[i]);
                    //Initialize
                    s_switch.bootstrapSwitch({
                        'animate': true,
                        'onColor': "success",
                        'offColor': "danger",
                        'disabled': true});
                    (function (s_switch) { //Closure is necessary
                        get_n_setLoadSwitch(s_switch);
                    }(s_switch));
                    setLoadSwitchEvent(s_switch)
                }
            }

            function setLoadViewSliders() {
                var sliders_elems = $("[data-acttype='load_slider']");
                for(var i=0; i<(sliders_elems.length); i++){
                    var s_slider = $(sliders_elems[i]);
                    //Initialize slider
                    s_slider.slider({formater: function(value) {return 'Value: ' + value;}});
                    s_slider.slider('disable');
                    (function(s_slider){ //Closure for the slider to work
                        get_n_setLoadSlider(s_slider);
                    }(s_slider));
                    setLoadSliderEvent(s_slider);
                }
            }

            function setLoadViewSwitchModes() {
                var modes_elems = $("[data-acttype='load_mode']");
                for(var i=0; i<modes_elems.length; i++){
                    var s_mode = $(modes_elems[i]);
                    s_mode.combobox('disable');
                    (function (s_mode){
                        get_n_setLoadSwitchMode(s_mode);
                    }(s_mode));
                    setLoadSwitchModeEvent(s_mode)
                }
            }

        {% endif %}
    </script>
{% endblock %}
