{% extends "index_base.html" %}
{% load customfilters %}

{% block type %}
    Status of the room:
{% endblock %}

{% block name %}
    <span id="entity_name" data-roomid="{{ room.id }}">{{ room.name }} in</span>
    <a href="{% url 'BmsApp:detail_unit' room.unit.id %}" role="button">{{ room.unit }}</a>
{% endblock %}

{% block specifics %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <!------------------------------------------- Measurements -------------------------------------------------------->
    <div class="col-xs-12 col-lg-7 col-md-7">
        <h3>Measurements: </h3>
        <!-- Check if sensors are present  -->
        {% if all_sensors %}
            <!-- Check if room sensors are present-->
            {% if ref_list_room %}
                <!-- Display one panel box for each reference of the list-->
                {% for ref in ref_list_room %}
                    <div class="panel panel-default tri_col_sen sen_ref_{{ ref }}">
                        <div class="panel-heading clearfix" id="collapse-button">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#room_sensor_ref_{{ ref }}">
                                    <div id='panel_sensor_title'>
                                        <span class="fa fa-signal"></span>
                                        <p>Enviroment sensor {{ forloop.counter }}</p>
                                        {% for bat_sen in sensors_with_bat|take_arg:ref %}
                                                <span>Bat:</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" id="sensor_id_{{ bat_sen|get_attr:'id' }}"
                                                         role="progressbar"
                                                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                                        0%
                                                    </div>
                                                </div>
                                        {% endfor %}
                                    </div>

                                    <a class="btn btn-small" onclick="get_single_sensor_ref_last_val('{{ ref }}')" role="button">
                                        <span class="fa fa-refresh"></span></a>
                                </a>
                                <b id=error_sensor_{{ ref }} class="red_text"></b>
                            </h4>
                        </div>
                        <div id="room_sensor_ref_{{ ref }}" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <!-- Take each sensor with the specific reference-->
                                <div class="container-fluid">
                                    {% for sensor in sensors_per_ref|take_arg:ref %}
                                        <!-- Display for the sensor-->
                                        <div class="row" id="sensor_id_{{ sensor.id }}">
                                            <div class="col-xs-4 col-lg-4 col-md-4">
                                                <ul> {{ sensor.quantity }}:</ul>
                                            </div>
                                            <!-- Element which will receive the quantity measured-->
                                            <div class="col-xs-5 col-lg-5 col-md-5">
                                                <b id="{{ sensor.measure }}_Value"></b>
                                                <b id="{{ sensor.measure }}_Unit"></b>
                                                <span id="{{ sensor.measure }}_Time"></span>
                                            </div>
                                            <div class="col-xs-3 col-lg-3 col-md-3">
                                                <button class="btn btn-primary btn-xs" data-toggle="modal"
                                                        data-target="#myModal_{{ sensor.id }}">Show graph
                                                </button>
                                            </div>
                                        </div>
                                        <!-- Creation of the modal to choose the date and the resolution for the graph-->
                                        <div class="modal fade sensor_modal" data-measure="{{ sensor.measure }}" id="myModal_{{ sensor.id }}" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">Choose the dates for the graph of <b>{{ sensor.quantity }}</b></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="container col-xs-12">
                                                            <h4>Starting date:</h4>
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="form-group">
                                                                        <div class="input-group date MYDATE MYDATE_start"
                                                                             data-date-format="DD/MM/YYYY HH:mm"
                                                                             id="datetimepicker_start_{{ sensor.id }}">
                                                                            <input id="date_start_{{ sensor.id }}" type="text" class="form-control"/>
                                                                <span class="input-group-addon"><span class="fa fa-calendar"></span>
                                                                </span>
                                                                        </div>
                                                                        <div id="start_from_now_{{ sensor.id }}">-</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="container col-xs-12">
                                                            <h4>Ending date:</h4>
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="form-group">
                                                                        <div class="input-group date MYDATE MYDATE_end"
                                                                             data-date-format="DD/MM/YYYY HH:mm"
                                                                             id="datetimepicker_end_{{ sensor.id }}">
                                                                            <input id="date_end_{{ sensor.id }}" type="text" class="form-control"/>
                                                                <span class="input-group-addon"><span class="fa fa-calendar"></span>
                                                                </span>
                                                                        </div>
                                                                        <div id="end_from_now_{{ sensor.id }}">-</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% if sensor.measure != "PRE"%}
                                                            <div class="container col-xs-12">
                                                                <h4>Resolution (s):</h4>
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <div class="form-group">
                                                                            <input id="Res_{{ sensor.id }}" type="text" value="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close
                                                        </button>
                                                        <button type="button" class="btn btn-primary make-graph-btn btn-accept"
                                                                onclick="get_graph_data('{{ sensor.measure }}','{% url 'BmsAPI:timeseriesQuantity' sensor.id %}','{{ sensor.quantity }}','{{ sensor.name }}','{{ sensor.id }}')">
                                                            Make Graph
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div><!-- end of the room sensors body -->
                            </div>
                        </div><!-- end of the room sensors panel -->
                    </div>
                {% endfor %}<!-- end of all the room sensors panel -->
            {% endif %}
            <!-- End of the room sensors display -->

            {% if load_measures_to_quantities %}
                <!--------------------------------- Display the powers ---------------------------------------------------->
                <div class="panel panel-default tri_col_sen">
                    <div class="panel-heading clearfix" id="collapse-button">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#consumption">
                                <div id='panel_power_title'>
                                    <span class="fa fa-flash"></span>

                                    <p>Total Power</p>
                                </div>
                                <a class="btn btn-small" onclick="get_loads_consumption()" role="button"><span
                                        class="fa fa-refresh"></span></a>
                            </a>
                            <b id=error_conso class="red_text"></b>
                        </h4>
                    </div>
                    <div id="consumption" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="container-fluid"><!-- Display for the active power consumption --><!-- The powers panel body statrs here -->
                                {% for power in load_measures_to_quantities %}
                                    <div class="row">
                                        <div class="col-xs-4 col-lg-4 col-md-4">
                                            <ul> {{ load_measures_to_quantities|take_arg:power }}:</ul>
                                        </div>
                                        <!-- Element which will receive the quantity measured -->
                                        <div class="col-xs-5 col-lg-5 col-md-5">
                                            <b id="{{ power }}_Value"></b>
                                            <b id="{{ power }}_Unit"></b>
                                            <span id="{{ power }}_Time"></span></div>
                                        <div class="col-xs-3 col-lg-3 col-md-3">
                                            <button class="btn btn-primary btn-xs" data-toggle="modal"
                                                    data-target="#myModal_{{ power }}">Show graph
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Creation of the modal to choose the date and the resolution for the graph -->
                                    <div class="modal fade sensor_modal" data-measure="{{ power }}" id="myModal_{{ power }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Choose the dates for the graph of <b>{{ load_measures_to_quantities|take_arg:power }}</b></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container col-xs-12">
                                                        <h4>Starting date:</h4>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="form-group">
                                                                    <div class="input-group date MYDATE MYDATE_start" data-date-format="DD/MM/YYYY HH:mm"
                                                                         id="datetimepicker_start_{{ power }}">
                                                                        <input id="date_start_{{ power }}" type="text" class="form-control"/>
                                                                        <span class="input-group-addon">
                                                                            <span class="fa fa-calendar"></span>
                                                                        </span>
                                                                    </div>
                                                                    <div id="start_from_now_{{ power }}">-</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="container col-xs-12">
                                                        <h4>Ending date:</h4>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="form-group">
                                                                    <div class="input-group date MYDATE MYDATE_end" data-date-format="DD/MM/YYYY HH:mm"
                                                                         id="datetimepicker_end_{{ power }}">
                                                                        <input id="date_end_{{ power }}" type="text" class="form-control"/>
                                                                <span class="input-group-addon"><span
                                                                        class="fa fa-calendar"></span>
                                                                </span>
                                                                    </div>
                                                                    <div id="end_from_now_{{ power }}">-</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="container col-xs-12">
                                                        <h4>Resolution (s):</h4>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="form-group">
                                                                    <input id="Res_{{ power }}" type="text" value="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary make-graph-btn btn-accept"
                                                            onclick="get_graph_data('{{ power }}','{% url 'BmsAPI:timeseriesRoomAggregatedQuantity' power room.id %}','{{ power }}','{{ load_measures_to_quantities|take_arg:power }}','{{ power }}')">
                                                        Make Graph
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div id="powersbar_graph" class="" style="margin: 0 auto"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of the power consumption sensors -->

                <!-- Start of the energy meter (inside the if for load sensors of course)-->
                <div class="panel panel-default">
                    <div class="panel-heading clearfix" id="collapse-button">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#energygauge">
                                <span class="fa fa-leaf"></span>
                                Energy Consumption
                            </a>
                        </h4>
                    </div>
                    <div id="energygauge" class="panel-collapse collapse in">
                        <div class="panel-body" style="padding: 0 2px;">
                            <div class="container-fluid" style="">
                                <div class="row" style="overflow: hidden; ">
                                    <div class="col-xs-8 col-lg-6 col-md-8" style="float:left;">
                                        <div id="container-energy-gauge"></div>
                                    </div>
                                    <div class="col-xs-4 col-lg-4 col-md-4">
                                        <button class="btn btn-primary btn-xs"
                                                data-toggle="modal" data-target="#myModal_E">Show graph
                                        </button>
                                    </div>
                                    <div class="clearfix visible-xs-block"></div>
                                </div>
                            </div>
                            <div class="modal fade sensor_modal" data-measure="E" id="myModal_E" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Choose the dates for the graph of <b>Energy</b></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container col-xs-12">
                                                <h4>Starting date:</h4>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <div class="input-group date MYDATE MYDATE_start" data-date-format="DD/MM/YYYY HH:mm"
                                                                 id="datetimepicker_start_E">
                                                                <input id="date_start_E" type="text" class="form-control"/>
                                                                <span class="input-group-addon"><span
                                                                        class="fa fa-calendar"></span>
                                                                </span>
                                                            </div>
                                                            <div id="start_from_now_E">-</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container col-xs-12">
                                                <h4>Ending date:</h4>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <div class="input-group date MYDATE MYDATE_end" data-date-format="DD/MM/YYYY HH:mm"
                                                                 id="datetimepicker_end_E">
                                                                <input id="date_end_E" type="text" class="form-control"/>
                                                                <span class="input-group-addon"><span
                                                                        class="fa fa-calendar"></span>
                                                                </span>
                                                            </div>
                                                            <div id="end_from_now_E">-</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container col-xs-12">
                                                <h4>Resolution (s):</h4>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <input id="Res_E" type="text" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary make-graph-btn btn-accept"
                                                    onclick="get_graph_data('E','{% url 'BmsAPI:timeseriesRoomEnergy' room.id %}','E','Energy per hour','E')">
                                                Make Graph
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading clearfix" id="collapse-button">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#co2costgauge">
                                <div class="col-xs-6 col-lg-6 col-md-6" style="padding: 0"><span class="fa fa-cloud"></span>
                                    <span>Carbon Footprint</span></div>
                                <div class="col-xs-6 col-lg-6 col-md-6" style="padding-left: 30px">
                                    <span class="fa fa-money"></span>
                                    <span>Cost</span></div>
                            </a>
                        </h4>
                    </div>
                    <div id="co2costgauge" class="panel-collapse collapse in">
                        <div class="panel-body" style="padding: 0 2px;width: 100%">
                            <div class="container-fluid" style=" padding-left: 0; padding-right: 2px; ">
                                <div class="row" style=" overflow: hidden">
                                    <div class="col-xs-6 col-lg-6 col-md-6" style="padding-right: 0">
                                        <div id="container-co2-gauge"></div>
                                    </div>
                                    <div class="col-xs-6 col-lg-6 col-md-6" style=" padding-left: 0">
                                        <div id="container-cost-gauge"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of the energy meter -->
            {% endif %}
        {% else %}
            <h4 id='no_sensor_room'> There is no sensors in this room. </h4>
        {% endif %}
        <!---------------------------------------- End of Measurements ---------------------------------------------------->
    </div>

    <!----------------------------------------- Display of the loads --------------------------------------------------->
    <div class="col-xs-12 col-lg-5 col-md-5">
    <h3>Loads:</h3>
    <!-- Creation of a panel box for each type of load if there is at least one load -->
    {% if load_list %}
        {% for type in type_list %}
            {% if load_per_devtype_list|take_arg:type.id %}
                <div class="panel panel-default" id="for_pop_{{ type.id }}">
            {% else %}
                <div class="hidden panel panel-default" id="for_pop_{{ type.id }}">
            {% endif %}
        <div class="panel-heading" id="collapse-button">
            <h4 class="panel-title">
                <a id="panel_{{ type.id }}" data-toggle="collapse" data-typename="{{ type.name }}"
                   data-parent="#accordion" href="#type_{{ type.id }}">
                    <span class="fa fa-flash"></span>
                    {{ type.name }} ({{ load_per_devtype_list|take_arg:type.id|length }})
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="type_{{ type.id }}" data-typeid="{{ type.id }}">
            <div class="panel-body" id="load_type_{{ type.id }}">
                {% for load in load_per_devtype_list|take_arg:type.id %}
                    <div data-loadid="{{load.id}}" data-loadname="{{ load.name }}" class="container-fluid load_rows">
                        <div class="row vertical-align">
                            <div class="col-xs-6 col-lg-6 col-md-6">
                                {% if not general_mobile_view %}
                                    <a id="load_btn" class="btn btn-default OnOff" href="{% url 'BmsApp:detail_load' load.id %}" role="button">{{ load.name }}</a>
                                {% else %}
                                    <a id="load_btn" class="btn btn-default OnOff" href="{% url 'BmsApp:detail_load_m' load.id %}" role="button">{{ load.name }}</a>
                                {% endif %}
                            </div>
                            <div class="act-place col-xs-6 col-lg-6 col-md-6 col-sm-4">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
        {% endfor %}
    {% else %}
        <h4 id="no_load_room"> There is no loads in this room. </h4>
    {% endif %}
<div id="act_no_load" class="hidden">
    {% for actuator in actuators_list %}

        {%  if actuator.action == 'RELAY'  %}
            <ul class="actuator hidden">
                <input type="checkbox"
                       data-acttype="load_switch" data-loadid="{{ actuator.load.id }}"
                       data-actid="{{ actuator.id }}" data-actname="{{ actuator.name }}"
                       data-size="customized"></ul>
        {% endif %}
        {% if actuator.action == 'DIMMER' %}
            <ul class="actuator hidden">
                <input style="width: 100%;" class="sliders"
                       data-acttype="load_slider" data-loadid="{{ actuator.load.id }}"
                       data-actid="{{ actuator.id }}" data-actname="{{ actuator.name }}"
                       data-slider-id='ex1Slider' data-slider-value="0" type="range"
                       data-slider-min="0" data-slider-max="100" data-slider-step="1"/>
            </ul>
        {% endif %}
        {%  if actuator.action == 'MOD' %}
            <ul class="actuator hidden">
                <select  id="load_mode"
                         data-acttype="load_mode" data-loadid="{{ actuator.load.id }}"
                         data-actid="{{ actuator.id }}" data-actname="{{ actuator.name }}"
                         class="form-control Switch_MODES">
                </select></ul>
        {% endif %}

    {% endfor %}
</div>
<!----------------------------------------- End of the loads --------------------------------------------------->

<!----------------------------------------- Display of the settings -------------------------------------------->
<h3>Settings:</h3>
{% if setting_list %}
    {% for setting in setting_list %}
        <div class="panel panel-default setting-panel">
            <div class="panel-heading" id="collapse-button">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#setting_{{ forloop.counter0 }}">
                        <span class="fa fa-clock-o"></span>
                        {{ setting.0 }}

                        <span>|| {{ setting.3.days }} |</span>
                        {% if setting.3.fromTime %}
                            <span> {{ setting.3.fromTime }}</span>
                            -
                            <span>{{ setting.3.toTime }}</span>
                        {% else %}
                            <span> All Day</span>
                        {% endif %}
                    </a>
                </h4>
            </div>
            <div id="setting_{{ forloop.counter0 }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="container-fluid" style="padding-left: 0; padding-right: 2px;">
                        <div class="row" style="margin: 5px 0;">
                            <div class="col-xs-12 col-lg-12 col-md-12" style="padding-right: 0; padding-left: 0;">
                                <h4 style="float:left"> {{ setting.1 }} {{ setting.2 }} </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h4 id='no_set_room'> There is no settings for this room. </h4>
{% endif %}
<!----------------------------------------- End of the settings ---------------------------------------------->
<!----------------------------------------- Display of the auxiliary info------------------------------------->
{% if roomremark_list %}
    <div class="panel panel-default">
        <div class="panel-heading" id="collapse-button">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#roomremark">
                    <span class="fa fa-info"></span>
                    Remarks
                </a>
            </h4>
        </div>
        <div id="roomremark" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="container-fluid" style="padding-left: 0; padding-right: 2px;">
                    {% for info in roomremark_list %}
                        <div class="row" style="margin: 5px 0;">
                            <div class="col-xs-12 col-lg-12 col-md-12" style="padding-right: 0; padding-left: 0;">
                                <i>{{ info.info }}</i>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!----------------------------------------- End of the auxiliary info-------------------------------------------->
</div><!------------ End of the right column--->
{% endblock %}

{% block graph %}
    <!-- Elements to receive the different graphs -->
    {% if all_sensors %}
        {% for sensor in room_sensors_list %}
            <div id="{{ sensor.id }}_graph" class="hidden"></div>
        {% endfor %}
        {% for power in load_measures_to_quantities %}
            <div id="{{ power }}_graph" class="hidden"></div>
        {% endfor %}
        <div id="E_graph" class="hidden"></div>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        {% if actuators_list %}
            function get_room_actuators_status() {
                //First initialize all
                var switches_elems = $("[data-acttype='load_switch']");
                for (var i = 0; i < switches_elems.length; i++) {
                    var s_switch = $(switches_elems[i]);
                    place_act(s_switch.attr('data-actid'),s_switch.attr('data-loadid'));
                    s_switch.bootstrapSwitch({
                        'animate': true,
                        'onColor': "success",
                        'offColor': "danger",
                        'disabled': true});
                }
                var sliders_elems = $("[data-acttype='load_slider']");
                for (var j = 0; j < (sliders_elems.length); j++) {
                    var s_slider = $(sliders_elems[j]);
                    place_act(s_slider.attr('data-actid'),s_slider.attr('data-loadid'));
                    s_slider.slider({formater: function (value) {return 'Value: ' + value;}});
                    s_slider.slider('disable');
                }
                var modes_elems = $("[data-acttype='load_mode']");
                for (var k = 0; k < modes_elems.length; k++) {
                    var s_mode = $(modes_elems[k]);
                    place_act(s_mode.attr('data-actid'),s_mode.attr('data-loadid'));
                    s_mode.combobox('disable');
                }
                $.ajax({
                    type: 'GET',
                    url: '{% url 'BmsAPI:statusRoom' room.id %}',
                    dataType: "json",
                    error: function (user, status, er) {
                        alert("Unable to get switch statuses, error: " + er);

                    },
                    success: function (data) {
                        var actuator_id;
                        //first the load switches which are of type checkbox
                        var switches_elems = $("[data-acttype='load_switch']");
                        for (var i = 0; i < switches_elems.length; i++) {
                            var s_switch = $(switches_elems[i]);
                            actuator_id = s_switch.attr('data-actid'); //The data-actid has the id of actuator of DB
                            var actState = data[actuator_id]['Status'];
                            setLoadSwitch(s_switch,actState);
                            setLoadSwitchEvent(s_switch);
                        }
                        //End of the switches

                        //Load Sliders
                        var sliders_elems = $("[data-acttype='load_slider']");
                        for (var j = 0; j < (sliders_elems.length); j++) {
                            //s_slider is a jquery selector and not a string
                            var s_slider = $(sliders_elems[j]);
                            actuator_id = s_slider.attr('data-actid');
                            s_slider.slider({formater: function (value) {
                                return 'Value: ' + value;
                            }});
                            var sliderState = data[actuator_id]["Status"];
                            setLoadSlider(s_slider,sliderState);
                            setLoadSliderEvent(s_slider);
                        }
                        //End of sliders

                        //Load Modes
                        var modes_elems = $("[data-acttype='load_mode']");
                        for (var k = 0; k < modes_elems.length; k++) {
                            //s_mode is a jquery selector and not a string
                            var s_mode = $(modes_elems[k]);
                            actuator_id = s_mode.attr('data-actid');
                            var modeState = data[actuator_id]["Status"];
                            var modeOptions = data[actuator_id]["possibleStatus"];
                            setLoadSwitchMode(s_mode,modeState,modeOptions);
                            setLoadSwitchModeEvent(s_mode);
                        }
                        //End of load modes

                    },//End of success for room status
                    timeout: {{ timeout_status }}
                });//End of ajax of statues
            }
        {% endif %}

        {% if load_measures_to_quantities %}
            function get_loads_consumption() {
                $.ajax({
                    type: 'GET',
                    url: '{% url 'BmsAPI:lastLoadsRoom' room.id %}',
                    dataType: "json",
                    error: function () {
                        if ($('#error_conso').length) {
                            $('#error_conso').html('An error occurred');
                        }
                    },
                    success: function (data) {
                        if ($('#error_conso').length) {
                            $('#error_conso').html('');
                        }
                        aggregate_display_powers(data); //This will also display them
                    },
                    timeout: {{ timeout_timeseries }}  //Even if is last we permit long time out in case of DB fetch
                });
            }

            var powersbyid = {};
            function aggregate_display_powers(data){
                //Data is in format {'senid': [measuretype, time, value]}
                var roompowers = {}; //local
                var measure;
                var time;
                var value;
                var senid;
                for(senid in data){ //update powersbyid array
                    measure = data[senid]['Measure'];
                    time = data[senid]['Time'];
                    value = data[senid]['Value'];
                    powersbyid[senid] = [measure, time,value];
                }
                var powercounters = [0,0,0,0]; //P Q S PF
                for(senid in powersbyid){ //now aggragate
                    measure = powersbyid[senid][0];
                    time = powersbyid[senid][1];
                    value = powersbyid[senid][2];
                    if (measure in roompowers) {
                        roompowers[measure][0] = Math.max(roompowers[measure][0], time);  //We choose the latest update
                        roompowers[measure][1] += value;
                    }
                    else{
                        roompowers[measure] = [0,0, false];  //The third is for estimated, calculated here
                        // (different for server side aggregator,
                        // where estimated can mean load without sensor)
                        roompowers[measure][0] = Math.max(roompowers[measure][0], time);  //We choose the latest update
                        roompowers[measure][1] += value;
                    }
                    if (measure=='P'){powercounters[0] += 1}
                    else if (measure=='Q'){powercounters[1] += 1}
                    else if (measure=='S'){powercounters[2] += 1}
                    else if (measure=='PF'){powercounters[3] += 1}
                }


                if (('P' in roompowers) && ('Q' in roompowers) && !(('S' in roompowers) && ('PF' in roompowers))) {//We can derive S PF
                    roompowers['S'] = [0,0,false];
                    roompowers['PF'] = [0,0,false];
                    roompowers['S'][0] = Math.max(roompowers['P'][0], roompowers['Q'][0]);
                    roompowers['PF'][0] = Math.max(roompowers['P'][0], roompowers['Q'][0]);
                    roompowers['S'][1] = Math.sqrt(roompowers['P'][1] * roompowers['P'][1] + roompowers['Q'][1] * roompowers['Q'][1]);
                    roompowers['PF'][1] = roompowers['P'][1] / roompowers['S'][1];
                }
                else if (('S' in roompowers) && ('PF' in roompowers) && !(('P' in roompowers) && ('Q' in roompowers))) {//We can derive P Q
                    roompowers['P'] = [0,0,false];
                    roompowers['Q'] = [0,0,false];
                    roompowers['P'][0] = Math.max(roompowers['S'][0], roompowers['PF'][0]);
                    roompowers['Q'][0] = Math.max(roompowers['S'][0], roompowers['PF'][0]);
                    roompowers['P'][1] = roompowers['S'][1] * roompowers['PF'][1];
                    roompowers['Q'][1] = roompowers['S'][1] * Math.sin(Math.acos(roompowers['PF'][1]));
                }
                var maxnumofmeasure = Math.max(powercounters[0], powercounters[1], powercounters[2], powercounters[3]);
                if (maxnumofmeasure>powercounters[0] && 'P' in roompowers){roompowers['P'][2] = true;}
                if (maxnumofmeasure>powercounters[1] && 'Q' in roompowers){roompowers['Q'][2] = true;}
                if (maxnumofmeasure>powercounters[2] && 'S' in roompowers){roompowers['S'][2] = true;}
                if (maxnumofmeasure>powercounters[3] && 'PF' in roompowers){roompowers['PF'][2] = true;}

                {% for power in load_measures_to_quantities %}
                    if ('{{ power }}' in roompowers){
                        var {{ power }}_power = Math.round(roompowers['{{ power }}'][1] * 100) / 100;
                        var {{ power }}_time = moment(roompowers['{{ power }}'][0] * 1000).format("Do MMM,HH:mm");
                        $('#{{ power }}_Value').html({{ power }}_power);
                        $('#{{ power }}_Value').addClass('bg-info');
                        setTimeout(function() {
                            $('#{{ power }}_Value').removeClass('bg-info');
                        }, 500);
                        $('#{{ power }}_Unit').html('{{ measure_units_all|take_arg:power }}');
                        $('#{{ power }}_Time').html('@ ' + {{ power }}_time);
                        if (roompowers['{{ power }}'][2]) {
                            $('#{{ power }}_Value').addClass('red_text');
                            $('#{{ power }}_Unit').addClass('red_text');
                            $('#{{ power }}_Time').addClass('red_text');
                        }
                        else {
                            $('#{{ power }}_Value').removeClass('red_text');
                            $('#{{ power }}_Unit').removeClass('red_text');
                            $('#{{ power }}_Time').removeClass('red_text');
                        }

                    }
                    powersbar(roompowers); //Send the raw dictionary to the function
                    var graph_elem = $('#'+'{{ power }}'+'_graph');
                    if (graph_elem.highcharts() && (graph_elem.is(':visible'))){ //Check is is undefined as well
                        var enddate = $('#datetimepicker_end_'+ '{{ power }}').data("DateTimePicker").getDate();
                        var difffromnow = moment().diff(enddate, 'hours');
                        if(difffromnow <= 24 ) {
                            var series = graph_elem.highcharts().series[0];
                            series.addPoint([roompowers['{{ power }}'][0] * 1000, {{ power }}_power], true, false);
                        }
                    }
                {% endfor %}
            }

            $(window.setInterval("get_loads_consumption()", {{ updateinterval }}));

            function get_energy_consumption(){
                var now_time = moment().format("YYYYMMDDHHmmss");
                var pasthour_time = moment().subtract(1, "h").format("YYYYMMDDHHmmss");
                var energyres = {{ energyres }}; //Intergrate per hour

                $.ajax({
                    type: "GET",
                    url: '{% url 'BmsAPI:datapointRoomEnergy' room.id %}' + 'from' + pasthour_time + '/to' + now_time + '/res' + energyres,
                    dataType: "json",
                    error: function () {
                        var energy_gauge_elem = $('#container-energy-gauge');
                        var co2_gauge_elem = $('#container-co2-gauge');
                        var cost_gauge_elem = $('#container-cost-gauge');
                        energy_gauge_elem.html("<h4 style='margin-left:20px; font-style: italic;' class=\"red_text\">The request didn't succeed!</h4>");
                        co2_gauge_elem.html("<h4 style='margin-left:20px; font-style: italic;' class=\"red_text\">The request didn't succeed!</h4>");
                        cost_gauge_elem.html("<h4 style='margin-left:20px; font-style: italic;' class=\"red_text\">The request didn't succeed!</h4>");
                    },
                    success: function (data) {
                        var totalE_joules = data['Etotal'][1]; //result in format: [[time, value]]
                        var totalE_wh = totalE_joules/3600;
                        var co2_foot = totalE_wh/1000*{{ co2perkhw }}; //27gr per kwh for ch, by IEA report
                        var ct_kwh = totalE_wh/1000*{{ kwhprice }}; //20.51 ct per kwh for Terre Romande
                        energygauge(Math.round(totalE_wh));
                        co2gauge(Math.round(co2_foot));
                        costgauge(Math.round(ct_kwh));

                    },
                    timeout: {{ timeout_timeseries }}
                });
            }

            $(window.setInterval("get_energy_consumption()", {{ updateinterval }}));

            var gaugeOptions = {
                chart: {
                    type: 'solidgauge',
                    spacingBottom: 0,
                    spacingTop: 0
                },
                title: null,
                pane: {
                    size: '100%',
                    startAngle: -120,
                    endAngle: 120,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '60%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                // the value axis
                yAxis: {
                    title: {
                        text: null
                    },
                    minorTickInterval: 'auto',
                    minorTickWidth: 1,
                    minorTickLength: 7,
                    minorTickPosition: 'inside',

                    tickWidth: 2,
                    tickPosition: 'inside',
                    tickLength: 10,
                    zIndex: 4,
                    labels: {
                        rotation: 'auto'
                    }
                },
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: -30,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                }
            };

            function energygauge(totalE_wh) {
                if (totalE_wh==0){ //initial
                    $('#container-energy-gauge').highcharts(Highcharts.merge(gaugeOptions, {
                        yAxis: {
                            min: 0,
                            max: {{ maxenergygauge }},
                            stops: [
                                [0.2, '#55BF3B'], // green
                                [0.4, '#DDDF0D'], // yellow
                                [0.8, '#ff1b1b'] // red
                            ],
                            minorTickColor: '#666',
                            tickColor: '#666',
                            labels: {
                                rotation: 'auto'
                            }
                        },
                        pane: {
                            center: ['50%', '60%']
                        },
                        series: [{
                            name: '',
                            data: [totalE_wh],
                            dataLabels: {
                                format: '<div style="text-align:center"><span style="font-size: 160%;color:#3e3e3e">{y}</span><br/>' +
                                '<span style="font-size: 100% color:silver">Wh <br><i>per hour</i></span></div>'
                            },
                            tooltip: {
                                valueSuffix: ' Wh '
                            }
                        }]
                    }))
                }
                else{//update
                    var chart = $('#container-energy-gauge').highcharts();
                    if (totalE_wh > {{ maxenergygauge }}){
                        chart.yAxis[0].update({
                            max:totalE_wh+totalE_wh*0.3
                        });
                    }
                    chart.series[0].setData([totalE_wh])
                }
            }

            function co2gauge(co2_foot) {
                if (co2_foot==0){//initial
                    $('#container-co2-gauge').highcharts(Highcharts.merge(gaugeOptions, {
                        yAxis: {
                            min: 0,
                            max: {{ maxco2gauge }},
                            stops: [
                                [0.2, '#43df1d'], // green
                                [0.4, '#2a5f1d'], // dark green
                                [0.8, '#000000'] // black
                            ]

                        },
                        pane: {
                            center: ['50%', '60%']
                        },
                        series: [{
                            name: '',
                            data: [co2_foot],
                            dataLabels: {
                                format: '<div style="text-align:center"><span style="font-size: 160%;color:#3e3e3e">{y}</span><br/>' +
                                '<span style="font-size: 100% color:silver">gCO2 <br><i>per hour</i></span></div>'
                            },
                            tooltip: {
                                valueSuffix: ' gr '
                            }
                        }]
                    }))
                }
                else{//update
                    var chart = $('#container-co2-gauge').highcharts();
                    if (co2_foot > {{ maxco2gauge }}){
                        chart.yAxis[0].update({
                            max:co2_foot+co2_foot*0.3
                        });
                    }
                    chart.series[0].setData([co2_foot])
                }
            }

            function costgauge(ct_kwh) {
                if (ct_kwh==0){//initial
                    $('#container-cost-gauge').highcharts(Highcharts.merge(gaugeOptions, {
                        yAxis: {
                            min: 0,
                            max: {{ maxcostgauge }},
                            stops: [
                                [0.2, '#55BF3B'], // green
                                [0.4, '#DDDF0D'], // yellow
                                [0.8, '#ff1b1b'] // red
                            ],
                            tickColor: '#666',
                            labels: {
                                step: 1,
                                rotation: 'auto'
                            }
                        },
                        pane: {
                            center: ['50%', '60%']
                        },
                        series: [{
                            name: '',
                            data: [ct_kwh],
                            dataLabels: {
                                format: '<div style="text-align:center"><span style="font-size: 160%;color:#3e3e3e">{y}</span><br/>' +
                                '<span style="font-size: 100% color:silver">CHF ct. <br><i>per hour</i></span></div>'
                            },
                            tooltip: {
                                valueSuffix: ' gr '
                            }
                        }]
                    }))
                }
                else{//update
                    var chart = $('#container-cost-gauge').highcharts();
                    if (ct_kwh > {{ maxcostgauge }}){
                        chart.yAxis[0].update({
                            max:ct_kwh+ct_kwh*0.3
                        });
                    }
                    chart.series[0].setData([ct_kwh])
                }
            }
        {% endif %}
        {% if ref_list_room %}
            function get_room_sensor_ref_last_val() {
                $.ajax({
                    type: 'GET',
                    url: '{% url 'BmsAPI:lastRoom' room.id %}',
                    dataType: "json",
                    error: function () {
                        var errorsensorid = '#error_sensor_';
                        {% for ref in ref_list_room %}
                            if ($(errorsensorid +{{ ref }}).length) {
                                $(errorsensorid +{{ ref }}).html('An error occurred');
                            }
                        {% endfor %}
                    },
                    success: function (data) {
                        var errorsensorid = '#error_sensor_';
                        {% for ref in ref_list_room %}
                            if ($(errorsensorid +{{ ref }}).length) {
                                $(errorsensorid +{{ ref }}).html('');
                            }
                        {% endfor %}
                        {% for ref in ref_list_room %}
                            get_value_sensors(data[{{ ref }}], {{ ref }});
                        {% endfor %}
                    },
                    timeout: {{ timeout_lastvalue }}
                });
            }

            $(window.setInterval("get_room_sensor_ref_last_val()", {{ updateinterval }}));

            function get_single_sensor_ref_last_val(ref) {
                $.ajax({
                    type: 'GET',
                    url: '{% url 'BmsAPI:lastRoom' room.id %}',
                    dataType: "json",
                    error: function () {
                        var errorsensorid = '#error_sensor_';
                        if ($(errorsensorid + ref).length) {
                            $(errorsensorid + ref).html('An error occurred');
                        }
                    },
                    success: function (data) {
                        var errorsensorid = '#error_sensor_';
                        if ($(errorsensorid + ref).length) {
                            $(errorsensorid + ref).html('');
                        }
                        get_value_sensors(data[ref], ref);
                    },
                    timeout: {{ timeout_lastvalue }}
                });
            }

            function get_value_sensors(data, ref) {
                var roomsensor = '.sen_ref_';

                {% for sensor in room_measures_to_quantities  %}
                    if ($(roomsensor + ref).find('#{{ sensor }}_Value').length) {  //We take the assumption that one ref has not 2 same sensor type
                        var measure = data['{{ sensor }}'];
                        var measure_t = moment(measure[0] * 1000).format("Do MMM,HH:mm");
                        {% if sensor == 'PRE' %}
                            var presence;
                            if (measure[1] == 1){presence = 'YES'}
                            else{presence = 'NO'}
                            $(roomsensor + ref).find('#{{ sensor }}_Value').html(presence);
                            $(roomsensor + ref).find('#{{ sensor }}_Time').html('since ' + measure_t);
                        {% else %}
                            $(roomsensor + ref).find('#{{ sensor }}_Value').html(measure[1]);
                            $(roomsensor + ref).find('#{{ sensor }}_Unit').html('{{ measure_units_all|take_arg:sensor }}');
                            $(roomsensor + ref).find('#{{ sensor }}_Time').html('@ ' + measure_t);
                        {% endif %}
                    }
                {%  endfor%}
                if ($(roomsensor + ref).find('.progress-bar').length) {
                    var value = data['BAT'][1];
                    var prog_bar = $(roomsensor + ref + ' .progress-bar');
                    prog_bar.css('width', value + '%').attr('aria-valuenow', value);
                    prog_bar.html(value + '%');
                }


            }
        {% endif %}

        $(function() {
            {% if actuators_list %}get_room_actuators_status();{% endif %}
            {% if ref_list_room %}get_room_sensor_ref_last_val();{% endif %}
            {% if load_measures_to_quantities %}
                //Prepare them for visual reasons since energy can take time.
                energygauge(0);
                co2gauge(0);
                costgauge(0);
                powersbar(0);

                get_loads_consumption();
                get_energy_consumption();
            {% endif %}
        });
    </script>
{% endblock %}
