{% extends "base.html" %}
{% load customfilters %}
{% load cache %}
{% cache 60 * 15 unit.id room.id load.id%}
    {% block additional_header %}
        {% if static_serve_all_js_css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datetimepicker-3.1.4.min.css" type="text/css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-switch-3.3.2.min.css" type="text/css">

            <script type="text/javascript" src="{{ STATIC_URL }}js/moment-2.10.6.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts-4.1.9.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts-more-4.1.9.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/exporting-4.1.9.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/solid-gauge-4.1.9.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/simpleWeather-3.0.2-modified.min.js"></script> {% comment %}timeout modified{% endcomment %}
            <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker-3.1.4.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-switch-3.3.2.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/sockjs-1.0.3.min.js"></script>
        {% else %}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.4/css/bootstrap-datetimepicker.min.css" type="text/css">
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" type="text/css">

            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.9/highcharts.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.9/highcharts-more.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.9/modules/exporting.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.9/modules/solid-gauge.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.4/js/bootstrap-datetimepicker.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.3/sockjs.min.js"></script>
        {% endif %}

        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-slider-5.2.4.min.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-touchspin-3.0.1.min.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-combobox.css" type="text/css">

        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-combobox.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-slider-5.2.4.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-touchspin-3.0.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts-tooltip-fix.js"></script>
    {% endblock %}

    {% block content %}
        {% if not general_mobile_view %}
            <div class="col-xs-12 col-lg-2 col-md-2">
                <!----------------------------------------- Start of Room list -------------------------------------------------->
                <div class="container-fluid" id="unit_title">
                    <h2>Units</h2>
                </div>
                <div class="container-fluid" id="building">
                    {% include "unit_room_sidebar.html" %}
                </div>
                <!----------------------------------------- End of Room list ---------------------------------------------------->
                <!----------------------------------------- Start of users in Room ---------------------------------------------->
                {% if isroomview %}
                    <div class="container-fluid" id="users_title">
                        <h2>Users in Room</h2>
                    </div>
                    <div class="container-fluid" id="usersinroom">
                        {% for user in room.user_set %}
                            {{ user.name }} {{ user.surname }} <br>
                        {% endfor %}
                    </div>
                {% endif %}
                <!----------------------------------------- End of users in Room ------------------------------------------------>
                <!----------------------------------------- Start of forecast --------------------------------------------------->
                <div class="container-fluid" id="weather_title">
                    <h2>Weather Forecast</h2>
                </div>
                <div class="container-fluid" id="weather_forecast">
                    <div id="weather"></div>
                </div>
                <!----------------------------------------- End of forecast ----------------------------------------------------->
                <!----------------------------------------- Start of realtime --------------------------------------------------->
                <div class="container-fluid" id="rt_title">
                    <h2>RealTime Viewer</h2>
                </div>
                <div class="container-fluid" id="rtconsole">
                </div>
                <!----------------------------------------- End of realtime ----------------------------------------------------->
            </div>
        {% endif %}
        <!-- For skipping the title if the specification panel-->
        {% if not general_mobile_view %}
            <div class="col-xs-12 col-lg-10 col-md-10">
            <div class="container-fluid" id="spec_title">
                <h2><span id='spec_title_type'>{% block type %}{% endblock %}</span>
                    <span id='spec_title_name'>{% block name %}{% endblock %}</span></h2>
            </div>
        {% else %}
            <div class="col-xs-12 col-lg-12 col-md-12">
        {% endif %}
        {% if not general_mobile_view %}<div class="container-fluid" id="specifications">
            {# overide the default style for mobile#}
        {% else %}<div class="container-fluid m_view" id="specifications">
        {% endif %}
    {% block specifics %}{% endblock %}
    </div>
        {% if not general_mobile_view %}<div class="container-fluid hidden" id="graphsplaces">
            {# overide the default style for mobile#}
        {% else %}<div class="container-fluid m_view hidden" id="graphsplaces">
        {% endif %}
    {% block graph %}{% endblock %}
    </div>
    </div>

        {% if all_sensors or actuators_list %}
            {#Without any sensor at all we dont need these#}
            <!--------------Creation Modal for new plug------------>
            {% include "new_load_modal.html" %}
            <!--------------Load recognition modal----------------->
            {% include "load_rec_modal.html" %}
        {% endif %}
        <!--------------User recognition modal----------------->
        {% include "user_rec_modal.html" %}
    {% endblock %}

    {% block script_base %}

        {% block script %}{% endblock %}
        <script type="text/javascript">

            {% if all_sensors %} //Without any sensor at all we dont need these...

                {#        $(window).load(function () {#}
                {#            $(document)#}
                {#                    .on('hidden.bs.modal', '.modal', function () {#}
                {#                        $(document.body).removeClass('modal-scrollbar');#}
                {#                    })#}
                {#                    .on('show.bs.modal', '.modal', function () {#}
                {#                        // Bootstrap's .modal-open class hides any scrollbar on the body,#}
                {#                        // so if there IS a scrollbar on the body at modal open time, then#}
                {#                        // add a right margin to take its place.#}
                {#                        if ($(window).height() < $(document).height()) {#}
                {#                            $(document.body).addClass('modal-scrollbar');#}
                {#                        }#}
                {#                    });#}
                {##}
                {#        });#}


                function modal_refresh(modal) {
                    var datetime_start_element = $(modal).find("[id^='datetimepicker_start_']");
                    var datetime_end_element = $(modal).find("[id^='datetimepicker_end_']");
                    var startfromnow = $(modal).find("[id^='start_from_now_']");
                    var endfromnow = $(modal).find("[id^='end_from_now_']");
                    startfromnow.html(datetime_start_element.data("DateTimePicker").getDate().fromNow());
                    endfromnow.html(datetime_end_element.data("DateTimePicker").getDate().fromNow());
                    var sensor_measure = $(modal).attr('data-measure');

                    datetime_start_element.data("DateTimePicker").setMaxDate(moment());
                    datetime_end_element.data("DateTimePicker").setMinDate(datetime_start_element.data("DateTimePicker").getDate());
                    datetime_end_element.data("DateTimePicker").setMaxDate(moment());
                    if (sensor_measure != 'PRE')
                    {
                        var resolution_element = $(datetime_start_element).closest('.sensor_modal').find("[id^='Res_']");
                        var startdate_unix = datetime_start_element.data("DateTimePicker").getDate().unix();
                        var enddate_unix = datetime_end_element.data("DateTimePicker").getDate().unix();
                        var res;
                        if (sensor_measure != 'E') {res = parseInt((enddate_unix - startdate_unix) / {{ maxsamples }});}
                        else{res = parseInt(86400)} //Fix suggested resolution to 24h
                        if(res > 0){resolution_element.val(res);}
                        else{resolution_element.val(1);}
                        resolution_element.prop('disabled', false);
                    }
                }

                function get_graph_data(measure, API_url, sensor_quantity, sensor_name, sensor_id) {
                    //Measure is the internal representation, quantity is the human readable
                    //sensor_id is either the frontend id or power type for room aggregated powers
                    try{
                        var startdate = $('#datetimepicker_start_'+ sensor_id).data("DateTimePicker").getDate();
                        var startdate_unix = startdate.unix();
                        var enddate = $('#datetimepicker_end_'+ sensor_id).data("DateTimePicker").getDate();
                        var enddate_unix = enddate.unix();
                        $("#graphsplaces").removeClass("hidden");
                        var graph_elem = $('#'+sensor_id+'_graph');
                        if (!(graph_elem.is(':visible'))) {
                            graph_elem.removeClass("hidden");
                            var sensor = $('#sensor_id_' + sensor_id); //Works only for non aggregated. The aggr. dont have id.
                            var difffromnow = moment().diff(enddate, 'hours');
                            if(sensor.length && difffromnow <= 24 ) { //Append to end only when we are looking at live data(time window of last 24h)
                                //This will only work the first time the graph element appears,
                                $(window.setInterval(function () { //We add a new value at interval to show that did not change
                                    var valueraw = sensor.find('#' + measure + '_Value').html();
                                    if (valueraw == 'YES'){valueraw=1} //Reverse the presense display
                                    else if (valueraw == 'NO'){valueraw=0}
                                    var value = parseFloat(valueraw);
                                    if (graph_elem.highcharts() && (graph_elem.is(':visible'))) {
                                        var series = graph_elem.highcharts().series[0];
                                        series.addPoint([moment().unix() * 1000, value], true, false);
                                    }
                                }, {{ updategraphinterval }}));
                            }
                            {% if isroomview %}
                                var power = $('#' + sensor_id + '_Value');
                                if(power.length && difffromnow <= 24 ) {
                                    $(window.setInterval(function () { //We add a new value at interval to show that did not change
                                        var value = parseFloat(power.html());
                                        if (graph_elem.highcharts() && (graph_elem.is(':visible'))){
                                            var series = graph_elem.highcharts().series[0];
                                            series.addPoint([moment().unix() * 1000, value], true, false);
                                        }
                                    }, {{ updategraphinterval }}));
                                }
                            {% endif %}
                        }
                        graph_elem.html("<h4>Loading, please wait while processing the data...</h4>");
                        if(enddate_unix <= startdate_unix){
                            alert('Caution, end date is before or equal to start date');
                            graph_elem.html("<h4 class=\"red_text\">Wrong input...</h4>");
                            return
                        }
                        var res_obj = $('#Res_' + sensor_id);
                        if (res_obj.length){
                            var res = $(res_obj).val();
                            if(res > enddate_unix - startdate_unix){
                                alert('Caution, time resolution is greater that distance between start and end time');
                                graph_elem.html("<h4 class=\"red_text\">Please reduce the resolution...</h4>");
                                return
                            }
                            var reqsamples;
                            //If it is 0 it means that we will get all the raw data, so we bypass the warning
                            if (res != 0){
                                reqsamples = (enddate_unix - startdate_unix)/res;
                            }
                            else{
                                reqsamples = NaN;
                            }
                        }
                        //-1 is not found, for sensors we dont care, since we dont have that much samples
                        if ($.inArray(measure, ['TEM', 'HUM', 'LUM', 'PRE'])==-1){
                            {% if isroomview %} //Is load sensor AND room, heavy aggregation is needed, give warning!
                                if (isNaN(reqsamples) || reqsamples > 8000){ //NaN is not allowed
                                    alert('Caution, more than 8k samples requested for processing. The amount was: '+Math.round(reqsamples)+'. Please decrease the resolution.');
                                    graph_elem.html("<h4 class=\"red_text\">Please reduce the resolution...</h4>");
                                    return
                                }
                            {% else %}//Is load sensor and load view(less processing needed)
                                if (reqsamples > 100000){
                                    alert('Caution, more than 100k samples requested for processing. The amount was: '+Math.round(reqsamples)+'. Please decrease the resolution.');
                                    graph_elem.html("<h4 class=\"red_text\">Please reduce the resolution...</h4>");
                                    return
                                }
                            {% endif %}
                        }
                        $("#myModal_"+sensor_id).modal('hide');
                        var datestring_start = startdate.format('YYYYMMDDHHmmss');
                        var datestring_end = enddate.format('YYYYMMDDHHmmss');
                        if (measure == 'PRE'){
                            res = 0;  //This will case to get raw data
                        }
                        $.ajax({
                            type: "GET",
                            url: API_url + 'from' + datestring_start + '/to' + datestring_end + '/res' + res,
                            dataType: "json",
                            error: function () {
                                var sensor_measure_elem = $('#'+sensor_id+'_graph');
                                sensor_measure_elem.html("<h4 class=\"red_text\">The request didn't succeed!</h4>");
                            },
                            success: function (data) {
                                if (measure=='E'){
                                    data[measure].pop();//-1 to remove the null
                                    for(var i = 0; i<data[measure].length;i++){
                                        data[measure][i][1] = parseFloat((data[measure][i][1]/3600).toFixed(2)); //3600 to make Kw/h from Kw/sec
                                    }
                                }
                                else{
                                    //Extend the timesamples to the end time of user
                                    var last = data[measure][data[measure].length -1];
                                    data[measure].push([enddate_unix,last[1]]);
                                }
                                make_graph(measure, sensor_id, sensor_quantity, sensor_name, data)
                            },
                            timeout: {{ timeout_timeseries }}
                        });
                    }catch(err){
                        alert('Error occured, Wrong dates? '+err);
                        graph_elem.html("<h4 class=\"red_text\">Wrong input...</h4>");
                    }
                }

                function make_graph(measure, sensor_id, quantity, name, data) {
                    Highcharts.setOptions({
                        global: {
                            useUTC: false
                        }
                    });
                    var chart_type;
                    var datalabel_opt;
                    if (measure=='E'){
                        chart_type = 'column';
                        datalabel_opt = true;
                    }
                    else{
                        chart_type = 'area';
                        datalabel_opt = false;
                    }
                    var isstep = true;
                    if ($.inArray(measure, ['TEM', 'HUM', 'LUM'])!=-1){isstep = false} //For room sensor we have linear(inertia)
                    var chart_options = {
                        fillColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                            stops: [
                                [0, Highcharts.getOptions().colors[0]],
                                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                            ]
                        },
                        marker: {
                            radius: 2
                        },
                        lineWidth: 1,
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        threshold: null,
                        step: isstep
                    };


                    var yAxisProperties;
                    switch(measure) {
                            {% for sensor in measure_units_all %}
                                case '{{ sensor }}':
                                {% if sensor == 'PRE' %}
                                    yAxisProperties = {
                                        categories: ['NO', 'YES'],
                                        type: 'category',
                                        title: {text: '{{ measure_units_all|take_arg:sensor }}'}
                                    };
                                {% else %}
                                    yAxisProperties = {
                                        type: 'linear',
                                        title: {text: '{{ measure_units_all|take_arg:sensor }}'}
                                    };
                                {% endif %}
                                    break;
                            {% endfor %}
                    }
                    //Prepare data
                    for (var i = 0; i < data[measure].length; i++) {
                        data[measure][i][0] = data[measure][i][0] * 1000;
                    }
                    $('#'+sensor_id+'_graph').highcharts({
                        chart: {
                            type: chart_type,
                            animation: false,
                            zoomType: 'x',
                            resetZoomButton: {
                                position: {
                                    align: 'right',
                                    x: 0,
                                    y: -30
                                }
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        title: {
                            text: name + ": " + quantity
                        },
                        subtitle: {
                            text: document.ontouchstart === undefined ?
                                    'Click and drag in the plot area to zoom in' :
                                    'Pinch the chart to zoom in'
                        },
                        xAxis: {
                            type: 'datetime',
                            title: {
                                text: 'Time'
                            }
                        },
                        yAxis: yAxisProperties,
                        legend: {
                            enabled: false
                        },
                        plotOptions: {
                            area: chart_options,
                            column: chart_options
                        },
                        series: [
                            {
                                name: quantity,
                                data: data[measure],
                                dataLabels: {
                                    enabled: datalabel_opt,
                                    formatter: function () {
                                        return Highcharts.numberFormat(this.y/1000,1);
                                    },
                                    rotation: -90,
                                    color: '#FFFFFF',
                                    align: 'right',
                                    x: 4,
                                    y: 4,
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif',
                                        textShadow: '0 0 3px black'
                                    }
                                }
                            }
                        ]
                    });
                }

                function powersbar(powers){
                    //powers is a raw dictionary that this function would interpret accordingly
                    if (powers==0){ //initial
                        $(function () {
                            $('#powersbar_graph').highcharts({
                                chart: {
                                    type: 'bar',
                                    height: 40+50*{{ load_measures_to_quantities|length }} //If there are more power types increase the size
                                },
                                colors: ['#56a576', '#56A59E', '#5685A5', '#565EA5'],
                                title: {
                                    text: null
                                },
                                exporting: {
                                    enabled: false
                                },
                                xAxis: {
                                    labels: {
                                        enabled: false
                                    },

                                    title: {
                                        text: null
                                    }
                                },
                                yAxis: {
                                    min: 0,
                                    max: {{ maxpowerbar }},
                                    title: {
                                        enabled: false
                                    },
                                    labels: {
                                        overflow: 'justify'
                                    }
                                },
                                legend: {
                                    enabled: false
                                },
                                plotOptions: {
                                    bar: {
                                        dataLabels: {
                                            enabled: false
                                        }
                                    }
                                },
                                credits: {
                                    enabled: false
                                },
                                series: [
                                    {% for power in load_measures_to_quantities %}
                                        {
                                            data: [],
                                            id: '{{ power }}',
                                            name: '{{ load_measures_to_quantities|take_arg:power }}',
                                            index: {{ forloop.revcounter0 }}, //Index for sorting correcly the bars, the django provides the reverse index
                                            tooltip: {
                                                headerFormat: '',
                                                valueSuffix: ' {{ measure_units_all|take_arg:power }}'
                                            }
                                        },
                                    {% endfor %}
                                ]
                            });
                        });
                    }
                    else{
                        var barchart = $('#powersbar_graph').highcharts();
                        {% for power in load_measures_to_quantities %}
                            var value = Math.round(powers['{{ power }}'][1] * 100) / 100;
                            barchart.get('{{ power }}').setData([value]);
                        {% endfor %}

                    }
                }

                function set_DateTimePickers(modal) {
                    var datetime_start_element = $(modal).find("[id^='datetimepicker_start_']");
                    var datetime_end_element = $(modal).find("[id^='datetimepicker_end_']");
                    var now = new Date();
                    datetime_start_element.datetimepicker({ format: 'DD/MM/YYYY HH:mm:ss',maxDate: now});
                    datetime_end_element.datetimepicker({ format: 'DD/MM/YYYY HH:mm:ss',maxDate: now});
                    var parent_modal = $(datetime_start_element).closest('.sensor_modal');
                    var sensor_measure = parent_modal.attr('data-measure');
                    datetime_end_element.data("DateTimePicker").setDate(moment());
                    if (sensor_measure == 'PRE'){
                        datetime_start_element.data("DateTimePicker").setDate(moment().subtract(1, "d"));
                        datetime_end_element.data("DateTimePicker").setMinDate(moment().subtract(1, "d"));
                    }
                    else if (sensor_measure == 'E'){
                        datetime_start_element.data("DateTimePicker").setDate(moment().subtract(1, "w"));
                        datetime_end_element.data("DateTimePicker").setMinDate(moment().subtract(1, "w"));
                    }
                    else{
                        datetime_start_element.data("DateTimePicker").setDate(moment().subtract(3, "d"));
                        datetime_end_element.data("DateTimePicker").setMinDate(moment().subtract(3, "d"));
                    }
                    var startfromnow = $(modal).find("[id^='start_from_now_']");
                    var endfromnow = $(modal).find("[id^='end_from_now_']");
                    startfromnow.html(datetime_start_element.data("DateTimePicker").getDate().fromNow());
                    endfromnow.html(datetime_end_element.data("DateTimePicker").getDate().fromNow());
                    if (sensor_measure != 'PRE')
                    {
                        var resolution_element = parent_modal.find("[id^='Res_']");
                        var startdate_unix = datetime_start_element.data("DateTimePicker").getDate().unix();
                        var enddate_unix = datetime_end_element.data("DateTimePicker").getDate().unix();
                        var init_res;
                        if (sensor_measure != 'E') {init_res = parseInt((enddate_unix - startdate_unix) / {{ maxsamples }});}
                        else{init_res = parseInt(86400)} //Fix suggested resolution to 24h
                        resolution_element.TouchSpin({
                            initval: init_res,
                            max: 604800//one week as "min" resolution
                        });
                        resolution_element.prop('disabled', false);
                    }
                    datetime_start_element.on("dp.change",
                            function (e) {
                                modal_refresh($(modal));
                            });
                    datetime_end_element.on("dp.change",
                            function (e) {
                                modal_refresh($(modal));
                            });
                }
            {% endif %}

            {% if all_sensors or actuators_list %}

                //prepare and toggle the popover for an added/removed known load
                function show_popover(act_place, title_to_display, text_to_display){
                    $(act_place).attr('data-toggle','popover');
                    var placement;
                    if($(window).width()<992){placement = 'top';}
                    else {placement = 'left';}
                    var popover_options;
                    popover_options = {placement: placement, title: title_to_display, content: text_to_display, html: true};
                    $(act_place).popover(popover_options);

                    $(act_place).popover('show');
                    $(act_place).on('shown.bs.popover', function() {
                        setTimeout(function() {
                            $(act_place).popover('destroy');
                        }, 2000);
                    });
                }

                //Send the message to save the new characteristic of the load
                function save_new_load(){
                    var uid = $('.new_load_modal #ld_uuid').text();
                    var name = $('.new_load_modal #Name_load').val();

                    if (!name){
                        $('.new_load_modal #Name_load').parents(".row").prev().children().removeClass("hidden");
                        return;
                    }
                    else{
                        $('.new_load_modal #Name_load').parents(".row").prev().children().addClass("hidden");
                    }

                    var device_id = $('.new_load_modal #Type_device option:selected').attr('data-deviceid');

                    var jsonmsg = {'MSG_TYPE':'WEB_MSG',
                        'PUB_ID': parseInt('{{room.id}}'),
                        'PAYLOAD':
                        {'MSG_CLASS':'NEW_LD',
                            'LD_UID':uid,
                            'LD_NAME':name,
                            'DEV_ID':parseInt(device_id)}
                    };

                    if (device_id == 0){
                        var type_id = $('.new_load_modal #Type_device').val();
                        var device_name = $('.new_load_modal #New_device').val();
                        if (!device_name){
                            $('.new_load_modal #New_device').parents(".row").prev().children().removeClass("hidden");
                            return;
                        }
                        else{
                            $('.new_load_modal #New_device').parents(".row").prev().children().addClass("hidden");
                        }
                        jsonmsg['PAYLOAD']['TYPE_ID']=parseInt(type_id);
                        jsonmsg['PAYLOAD']['DEV_NAME']=device_name;
                    }
                    conn.send(JSON.stringify(jsonmsg));
                    $('.new_load_modal').modal('hide');
                }

                //Function to put the actuator next to the load
                function place_act(act_id,load_id){
                    //alert( act_id + "    " + load_id);
                    if (load_id){
                        var actuator = $("[data-acttype^='load_'][data-actid=" + act_id + "]").parents(".actuator");
                        var act_place = $("[data-loadid=" + load_id + "]").find(".act-place");
                        //alert(actuator.length);
                        $(actuator).appendTo($(act_place));
                        $(actuator).removeClass('hidden');
                    }
                }

                //Acquire and set the status, used in index and load template
                function get_n_setLoadSwitch(s_switch){
                    var actuator_id = s_switch.attr('data-actid');
                    $.ajax({
                        type: "GET",
                        url: '{% url 'BmsAPI:viewRootAPI' %}status/actuator/'+actuator_id,
                        dataType: "json",
                        error: function(user,status,er){
                            s_switch.bootstrapSwitch('disabled',true);
                            alert("Unable to get switch status, error: "+er);
                        },
                        success: function(data){
                            var actState = data["Status"];
                            setLoadSwitch(s_switch,actState);
                        },
                        timeout: {{ timeout_status }}
                    });
                }
                //Set state of the Switch
                function setLoadSwitch(s_switch,actState){
                    if (actState !== false && actState != null) {
                        s_switch.bootstrapSwitch('disabled', false);
                        if (actState == 0) {
                            s_switch.bootstrapSwitch('state', false, 'skip');
                        }
                        else if (actState == 1) {
                            s_switch.bootstrapSwitch('state', true, 'skip');
                        }
                    }
                    else{
                        s_switch.bootstrapSwitch('disabled', true);
                    }
                }
                //Set on event for Switch
                function setLoadSwitchEvent(s_switch){
                    s_switch.on('switchChange.bootstrapSwitch', function(event, state) {
                        var actuator_id = $(this).attr('data-actid'); //The data-actid has the id of actuator of DB
                        //$(this).bootstrapSwitch('state',!state,'skip');
                        var s_switch = $(this);
                        var percent;
                        if (state) { percent = '100' }
                        else { percent = '0' }
                        $.ajax({
                            type: "GET",
                            url: '{% url 'BmsAPI:viewRootAPI' %}action/actuator/'+actuator_id+'/'+percent,
                            dataType: "json",
                            error: function(user,status,er){
                                s_switch.bootstrapSwitch('disabled',true);
                                alert("The request didn't succeed, status: "+er);
                            },
                            success: function(data){
                                if (data['Status']===false || data['Status']==null){
                                    alert("The request didn't succeed! Middleware did not acknowledge the action.");
                                    //We dont disable the actuator, let the user retry
                                    //We re-ask and set the state (old one)
                                    get_n_setLoadSwitch(s_switch);
                                }
                            },
                            timeout: {{ timeout_action }}
                        });
                    });
                }

                //Acquire and set the status, used in index and load template
                function get_n_setLoadSlider(s_slider){
                    var actuator_id = s_slider.attr('data-actid');
                    $.ajax({
                        type: "GET",
                        url: '{% url 'BmsAPI:viewRootAPI' %}status/actuator/'+actuator_id,
                        dataType: "json",
                        error: function(user,status,er){
                            s_slider.slider('disable');
                            alert("Unable to get slider status, error: "+er);
                        },
                        success: function(data){
                            var sliderState = data["Status"];
                            setLoadSlider(s_slider,sliderState);
                        },
                        timeout: {{ timeout_status }}
                    });
                }
                //Set state for Slider
                function setLoadSlider(s_slider,sliderState){
                    //s_slider is a jquery selector and not a string
                    if (sliderState  !== false && sliderState != null){
                        s_slider.slider('enable');
                        s_slider.slider('setValue', sliderState, false);
                    }
                    else{
                        s_slider.slider('disable');
                    }
                }
                //Set on event for Slider
                function setLoadSliderEvent(s_slider){
                    //s_slider is a jquery selector and not a string
                    s_slider.on("slideStop",function(value){
                        var s_slider = $(this);
                        var actuator_id = $(this).attr('data-actid');
                        var percent = $(this).slider('getValue'); //same with the "value" passed
                        $.ajax({
                            type: "GET",
                            url: '{% url 'BmsAPI:viewRootAPI' %}action/actuator/'+actuator_id+'/'+percent,
                            dataType: "json",
                            error: function(user,status,er){
                                s_slider.slider('disable');
                                alert("The request didn't succeed, status: "+er);
                            },
                            success: function(data){
                                if (data['Status']===false || data['Status']==null){
                                    alert("The request didn't succeed! Middleware did not acknowledge the action.");
                                    //We dont disable the actuator, let the user retry
                                    //We re-ask and set the state (old one)
                                    get_n_setLoadSlider(s_slider);
                                }
                            },
                            timeout: {{ timeout_action }}
                        });
                    });
                }

                //Acquire and set the status, used in index and load template
                function get_n_setLoadSwitchMode(s_mode){
                    var actuator_id = s_mode.attr('data-actid');
                    $.ajax({
                        type: "GET",
                        url: '{% url 'BmsAPI:viewRootAPI' %}status/actuator/'+actuator_id,
                        dataType: "json",
                        error: function(user,status,er){
                            s_mode.combobox('disable');
                            alert("Unable to get mode switch status, error: "+er);
                        },
                        success: function(data){
                            var modeState = data["Status"];
                            var modeOptions = data["possibleStatus"];
                            setLoadSwitchMode(s_mode,modeState,modeOptions);
                        },
                        timeout: {{ timeout_status }}
                    });
                }
                //Set state for Switch modes
                function setLoadSwitchMode(s_mode,modeState,modeOptions){
                    //s_mode is a jquery selector and not a string
                    if (modeState !== false && modeState != null){
                        //Remove the old entries
                        s_mode.find('option').remove();
                        for (var p = 0; p < modeOptions.length; p++) {
                            s_mode.append("<option>"+modeOptions[p]+"</option>");
                        }
                        s_mode.find('option').eq(modeState).prop('selected', true);
                        s_mode.combobox().data('combobox').refresh();
                        s_mode.combobox('enable');
                    }
                    else{
                        s_mode.combobox('disable');
                    }
                }
                //Set on event for Switch modes
                function setLoadSwitchModeEvent(s_mode){
                    s_mode.change(function(){
                        var s_mode = $(this);
                        var actuator_id = s_mode.attr('data-actid');
                        var option = $(this).find('option:selected').index();
                        if(option == -1){
                            return; //We have a deselect, nothing to trigger
                        }
                        $.ajax({
                            type: "GET",
                            url: '{% url 'BmsAPI:viewRootAPI' %}action/actuator/'+actuator_id+'/'+option,
                            dataType: "json",
                            error: function(user,status,er){
                                alert("The request didn't succeed, status: "+er);
                                s_mode.combobox('disable');
                            },
                            success: function(data){
                                if (data['Status']===false || data['Status']==null){
                                    alert("The request didn't succeed! Middleware did not acknowledge the action.");
                                    //We dont disable the actuator, let the user retry
                                    //We re-ask and set the state (old one)
                                    get_n_setLoadSwitchMode(s_mode);
                                }
                            },
                            timeout: {{ timeout_action }}
                        });
                    });
                }
            {% endif %}

            $(function get_weather() {
                $.simpleWeather({
                    location: '{{ weatherloc }}',
                    woeid: '',
                    unit: 'c',
                    success: function(weather) {
                        var htmlcode = '<h2><i class="icon-'+weather.code+'"></i> '+weather.temp+'&deg;'+weather.units.temp+'</h2>';
                        $("#weather").html(htmlcode);
                    },
                    error: function(error) {
                        $("#weather").html('<p>'+error+'</p>');
                    }
                });
            });
            {% include "rtserver_frontend_client.tjs" %}

            $(".modal").keyup(function (event) {
                if (event.keyCode == 13) { //ENTER key
                    $(event.target).find('.btn-accept').click();
                }
                if (event.keyCode == 27) { //ESC key
                    $(event.target).find('.btn-close').click();
                }
            });
            $(".sensor_modal").on('shown.bs.modal', function prepare_modal(e) {
                if (typeof $(e.target).find("[id^='datetimepicker_start_']").data("DateTimePicker") === 'undefined'){
                    set_DateTimePickers(e.target);
                }else{
                    modal_refresh(e.target);
                }
            });
        </script>
    {% endblock %}
{% endcache %}
