<div class="modal fade load_rec_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="load_rec_modal_title"></span>  was pluged <i class="fa fa-plug"></i></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="container col-xs-12 col-lg-12 col-md-12">
                        <div class="row">
                            <div class="container col-xs-3">
                                <div id="device_pic"></div>
                            </div>
                            <div class="container col-xs-9">
                                <div class="row">
                                    <div class="container col-xs-5">
                                        <h5>Load name:</h5>
                                    </div>
                                    <div class="container col-xs-7">
                                        <h5 class="data" id="load_name"></h5>
                                    </div>
                                    <div class="container col-xs-5">
                                        <h5>Device type:</h5>
                                    </div>
                                    <div class="container col-xs-7">
                                        <h5 class="data" id="device_name"></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container col-xs-12 col-lg-12 col-md-12 extra_info">
                        {#Place holder for more info#}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function load_rec_fill_data(load_data_payload){
        //Loads the data to modal
        //name surname profile_pic are
        var modal_body = $('.load_rec_modal .modal-body');
        var modal_header = $('.load_rec_modal .modal-header');
        var device_pic = '<img class="img-responsive" id="theImg" src="'+ load_data_payload['device_image'] +'" />';

        modal_header.find('#load_rec_modal_title').html(load_data_payload['load_name']);
        modal_body.find('#device_pic').html(device_pic);
        modal_body.find('#device_name').html(load_data_payload['device_name']);
        modal_body.find('#load_name').html(load_data_payload['load_name']);

        //reset the extra
        var extra_info = modal_body.find('.extra_info');
        extra_info.html('');
        if (load_data_payload['load_room_id']){
            extra_info.append('<div class="row">'+
                    '<div class="container col-xs-5">'+
                    '<h5>Current Location:</h5>'+
                    '</div>'+
                    '<div class="container col-xs-7">'+
                    '<h5 class="data" id="load_cur_loc"></h5>'+
                    '</div>'+
                    '</div>');
            {% if not general_mobile_view %}
                var room_url = "{% url 'BmsApp:detail_room' 99999 %}".replace(99999, load_data_payload['load_room_id']);
            {% else %}
                var room_url = "{% url 'BmsApp:detail_room_m' 99999 %}".replace(99999, load_data_payload['load_room_id']);
            {% endif %}
            var room_link = '<a href="' + room_url + '">' + load_data_payload['load_room_name'] + '</a>';
            modal_body.find('#load_cur_loc').html(room_link);
        }
        $('.load_rec_modal').on('shown.bs.modal', function () {
            $('.modal-body').css({'max-height': '100%'});
        });

    }
</script>