{% load customfilters %}
<div class="modal fade new_load_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">A new load has been detected. Please fill the following characteristics:</h4>
            </div>
            <div class="modal-body">
                <div class="container col-xs-12 col-lg-12 col-md-12">
                    <div class="row">
                        <div class="container col-xs-6">
                            <h4>Name of the actuator:</h4>
                        </div>
                        <div class="container col-xs-6">
                            <h4 data-actid='' id="Name_act"></h4>
                        </div>
                    </div>
                </div>
                <div class="container col-xs-12 col-lg-12 col-md-12">
                    <div class="row">
                        <div class="container col-xs-5">
                            <h4>UUID of the load:</h4>
                        </div>
                        <div class="container col-xs-7">
                            <h4 id="ld_uuid"></h4>
                        </div>
                    </div>
                </div>
                <div class="container col-xs-12 col-lg-12 col-md-12">
                    <h4><span class="hidden fa fa-remove" style="color:red"></span>Name of the load:</h4>
                    <div class="row">
                        <div class="col-xs-12 col-lg-12 col-md-12">
                            <input id="Name_load" type="text" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="container col-xs-12 col-lg-12 col-md-12">
                    <h4>Type of the load:</h4>
                    <div class="row">
                        <div class="col-xs-12 col-lg-12 col-md-12">
                            <select  id="Type_load" class="form-control">
                                {% for type in type_list %}
                                    <option value='{{type.id}}'>{{type.name}}</option>
                                {% endfor%}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container col-xs-12 col-lg-12 col-md-12">
                    <h4>Type of device:</h4>
                    <div class="row">
                        <div class="col-xs-12 col-lg-12 col-md-12">
                            <select  id="Type_device" class="form-control">
                                {% for type in type_list %}
                                    {% for device in device_list|by_type:type.id %}
                                        <option value='{{type.id}}' data-deviceid='{{device.id}}'>{{device.name}}</option>
                                    {% endfor%}
                                {% endfor%}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                <button onclick="save_new_load()" type="button" class="btn btn-primary btn-accept">Save</button>
            </div>
        </div>
    </div>
</div>