{% if unit_list %}
    {% for unit in unit_ord_list %}
        <div class="panel panel-default">
            <div class="panel-heading" id="collapse-button">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#unit_{{ unit.id }}">
                        <span class="fa fa-building"></span>
                        {{ unit.name }}
                    </a>
                </h4>
            </div>
            <div id="unit_{{ unit.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    {% for room in unit.room_ord_set %}
                        {% if not general_mobile_view %}
                            {#  auto color the Outside...#}
                            {% if room.name != 'Outside'%}
                                <a id="room_btn" class="btn btn-default" href="{% url 'BmsApp:detail_room' room.id %}"
                                   role="button">{{ room.name }}</a>
                                <br>
                            {% else %}
                                <a id="room_btn" class="btn btn-info" href="{% url 'BmsApp:detail_room' room.id %}"
                                   role="button">{{ room.name }}</a>
                                <br>
                            {% endif %}
                        {% else %}
                            {#  auto color the Outside...#}
                            {% if room.name != 'Outside'%}
                                <a id="room_btn" class="btn btn-default" href="{% url 'BmsApp:detail_room_m' room.id %}"
                                   role="button">{{ room.name }}</a>
                                <br>
                            {% else %}
                                <a id="room_btn" class="btn btn-info" href="{% url 'BmsApp:detail_room_m' room.id %}"
                                   role="button">{{ room.name }}</a>
                                <br>
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No units are available.</p>
{% endif %}