<div class="modal fade user_rec_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Welcome <span id="user_rec_modal_title"></span>  <i class="fa fa-smile-o"></i></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="container col-xs-12 col-lg-12 col-md-12">
                        <div class="row">
                            <div class="container col-xs-2">
                                <div id="user_profile_pic"></div>
                            </div>
                            <div class="container col-xs-10">
                                <div class="row">
                                    <div class="container col-xs-5">
                                        <h5>First Name:</h5>
                                    </div>
                                    <div class="container col-xs-7">
                                        <h5 class="data" id="user_fname"></h5>
                                    </div>

                                    <div class="container col-xs-5">
                                        <h5>Last Name:</h5>
                                    </div>
                                    <div class="container col-xs-7">
                                        <h5 class="data" id="user_lname"></h5>
                                    </div>
                                    <div class="container col-xs-12 col-lg-12 col-md-12 extra_info">
                                        {#Place holder for more info#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function user_rec_fill_data(user_data_payload){
        //Loads the data to modal
        //name surname profile_pic are
        var modal_body = $('.user_rec_modal .modal-body');
        var modal_header = $('.user_rec_modal .modal-header');
        var profile_pic = '<img class="img-responsive" id="theImg" src="'+ user_data_payload['profile_image'] +'" />';

        modal_header.find('#user_rec_modal_title').html(user_data_payload['name']);
        modal_body.find('#user_profile_pic').html(profile_pic);
        modal_body.find('#user_fname').html(user_data_payload['name']);
        modal_body.find('#user_lname').html(user_data_payload['surname']);

        //reset the extra
        var extra_info = modal_body.find('.extra_info');
        extra_info.html('');
        if (user_data_payload['ref_unit_id']){
            extra_info.append('<div class="row">'+
                    '<div class="container col-xs-5">'+
                    '<h5>Unit Interested:</h5>'+
                    '</div>'+
                    '<div class="container col-xs-7">'+
                    '<h5 class="data" id="user_int_unit"></h5>'+
                    '</div>'+
                    '</div>');
            {% if not general_mobile_view %}
                var unit_url = "{% url 'BmsApp:detail_unit' 99999 %}".replace(99999, user_data_payload['ref_unit_id']);
            {% else %}
                var unit_url = "{% url 'BmsApp:detail_unit_m' 99999 %}".replace(99999, user_data_payload['ref_unit_id']);
            {% endif %}
            var unit_link = '<a href="' + unit_url + '">' + user_data_payload['ref_unit_name'] + '</a>';
            modal_body.find('#user_int_unit').html(unit_link);

        }
        if (user_data_payload['cur_room_id']){
            extra_info.append('<div class="row">'+
                    '<div class="container col-xs-5">'+
                    '<h5>Current Location:</h5>'+
                    '</div>'+
                    '<div class="container col-xs-7">'+
                    '<h5 class="data" id="user_cur_loc"></h5>'+
                    '</div>'+
                    '</div>');
            {% if not general_mobile_view %}
                var room_url = "{% url 'BmsApp:detail_room' 99999 %}".replace(99999, user_data_payload['cur_room_id']);
            {% else %}
                var room_url = "{% url 'BmsApp:detail_room_m' 99999 %}".replace(99999, user_data_payload['cur_room_id']);
            {% endif %}
            var room_link = '<a href="' + room_url + '">' + user_data_payload['cur_room_name'] + '</a>';
            modal_body.find('#user_cur_loc').html(room_link);
        }
        $('.user_rec_modal').on('shown.bs.modal', function () {
            $('.modal-body').css({'max-height': '100%'});
        });

    }
</script>